<app-cabeceratitulos [titulo]="'Roles'" [descripcion]="'Lista de roles'" [icono]="'gear'" [opcion]="'roles'">
</app-cabeceratitulos>

<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <div class="row">
        <div class="col-md-12 mb-2">
          <div class="input-group justify-content-end">
            <div class="input-group-prepend">
              <button class="btn btn-outline-success mr-2" type="button" (click)="fadicionar(am)"><i class="fa fa-plus"></i> Agregar Usuario</button>
              <div class="dropdown">
                  <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bars"></i> Opciones
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item"><i class="fa fa-file-pdf-o"></i> Reporte PDF</button>
                    <button class="dropdown-item"><i class="fa fa-file-excel-o"></i> Reporte Excel</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
              <div class="input-group">
                  <input type="text" class="form-control mr-2" [(ngModel)]="buscar" placeholder="Usuario a buscar..." (keyup)="fbuscar()"/>
                  <span class="input-group-prepend">
                      <button class="btn btn-outline-danger mr-2 d-none d-md-inline" (click)="limpiar()">
                          <i class="fa fa-times"></i> Limpiar
                      </button>
                      <button class="btn btn-outline-danger mr-2 d-inline d-md-none" (click)="limpiar()">
                          <i class="fa fa-times"></i>
                      </button>
                      <button class="btn btn-outline-secondary d-none d-md-inline" (click)="fbuscar()">
                          <i class="fa fa-search"></i> Buscar
                      </button>
                      <button class="btn btn-outline-secondary d-inline d-md-none" (click)="fbuscar()">
                          <i class="fa fa-search"></i>
                      </button>
                  </span>
              </div>
          </div>
      </div>

      <div class="table-responsive" *ngIf="roles?.length > 0">
          <p class="text-right" *ngIf="total == 1">
              Total: <b>{{ total }} registro</b>
          </p>
          <p class="text-right" *ngIf="total > 1">
              Total: <b>{{ total }} registros</b>
          </p>

          <table class="table table-bordered table-striped table-hover table-sm tabla-usuario">
              <thead>
                  <tr class="table-info">
                      <th class="text-center">Nro</th>
                      <th>Rol</th>
                      <th>Nombre Rol</th>
                      <th class="text-center">Estado</th>
                      <th class="text-center">Fecha Creación</th>
                      <th class="text-center">Operaciones</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let _item of roles; let i = index">
                      <td class="text-right">{{ i + 1 + ((pagina-1)*10) }}</td>
                      <td>{{ _item.rol }}</td>
                      <td>{{ _item.nombrerol }}</td>
                      <td class="text-center">
                          <span class="estado badge badge-success" title="Cambiar estado" >
                              HABILITADO
                          </span>
                      </td>
                      <td class="text-center">{{ _item.created_at | date:'dd/MM/yyyy HH:mm' }}</td>
                      <td class="text-center">
                          <div class="btn-group" role="group" aria-label="First group">
                              <button class="btn btn-outline-info btn-sm" title="Ver Usuarios" (click)="fveruser(_item.idrol, verusers)">
                                <i class="fa fa-eye"></i>
                              </button>
                              <button class="btn btn-outline-primary btn-sm" title="Ver Enlaces" (click)="fverenlace(_item.idrol, verenlaces)">
                                <i class="fa fa-eye"></i>
                              </button>
                              <button class="btn btn-outline-warning btn-sm" title="Editar Usuario" (click)="fmodificar(_item.idrol, am)">
                                <i class="fa fa-edit"></i>
                              </button>
                              <button class="btn btn-outline-danger btn-sm" title="Eliminar Usuario" (click)="feliminar(_item.idrol)">
                                <i class="fa fa-trash"></i>
                              </button>
                          </div>
                      </td>
                  </tr>
                  <tr >
                      <td colspan="6">
                          <ngb-pagination class="d-flex justify-content-center pagination-rounded" [collectionSize]="total" [(page)]="pagina" [maxSize]="cantidad" [rotate]="false" [ellipses]="false" [boundaryLinks]="true" (pageChange)="mostrarMas($event)"></ngb-pagination>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="table-responsive" *ngIf="total == 0">
          <table class="table table-bordered table-striped table-sm">
              <thead>
                  <tr class="table-info">
                      <th class="text-center">Nro</th>
                      <th class="text-center">Rol</th>
                      <th class="text-center">Nombre Rol</th>
                      <th class="text-center">Estado</th>
                      <th class="text-center">Fecha Creación</th>
                      <th class="text-center">Operaciones</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td colspan="6" class="text-center">No se encontraron datos</td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<ng-template #am>
  <div class="modal-header">
      <div class="row col-12">
          <div class="col-lg-6 col-md-12 text-center">
              <h4 class="modal-title pull-left"><i class="fa fa-edit"></i> {{ estado }} Rol</h4><br>
          </div>
          <div class="col-lg-6 col-md-12 alert-info p-3">
              Estimado usuario, los campos remarcados con <b class="text-danger">*</b> son necesarios.
          </div>
      </div>
  </div>
  <div class="modal-body">
      <form [formGroup]="formulario" (ngSubmit)="faceptar()">
          <div class="row">
              <div class="form-group col-sm-12">
                  <label>Rol: <span class="text-danger"><b>*</b></span></label>
                  <input type="text" class="form-control form-control-sm" formControlName="rol" [class.is-invalid]="f.rol.errors && f.rol.touched" (input)="onInput($event, 'rol', 'letras')" autocomplete="no" required/>
                  <small *ngIf="f.rol.errors&& f.rol.touched" class="text-danger">
                      <ng-container *ngIf="f.rol.errors.required">
                          El dato es obligatorio.
                      </ng-container>
                      <ng-container *ngIf="f.rol.errors.pattern">
                          Solo se permiten letras.
                      </ng-container>
                      <ng-container *ngIf="f.rol.errors.minlength">
                          Debe ser mas de 5 caracteres.
                      </ng-container>
                      <ng-container *ngIf="f.rol.errors.maxlength">
                          No puede exceder los 50 caracteres.
                      </ng-container>
                  </small>
              </div>
              <div class="form-group col-sm-12">
                  <label>Nombre Rol: <span class="text-danger"><b>*</b></span></label>
                  <input type="text" class="form-control form-control-sm" formControlName="nombrerol" [class.is-invalid]="f.nombrerol.errors && f.nombrerol.touched" (input)="onInput($event, 'nombrerol', 'letrasyespacios')" autocomplete="no" />
                  <small *ngIf="f.nombrerol.errors&& f.nombrerol.touched" class="text-danger">
                      <ng-container *ngIf="f.nombrerol.errors.required">
                          El dato es obligatorio.
                      </ng-container>
                      <ng-container *ngIf="f.nombrerol.errors.pattern">
                          Solo se permiten letras.
                      </ng-container>
                      <ng-container *ngIf="f.nombrerol.errors.minlength">
                          Debe ser mas de 5 caracteres.
                      </ng-container>
                      <ng-container *ngIf="f.nombrerol.errors.maxlength">
                          No puede exceder los 50 caracteres.
                      </ng-container>
                  </small>
              </div>
          </div>

          <div class="text-center">
              <button type="submit" class="btn btn-outline-success m-2" [disabled]="!formulario.valid">
                  <i class="fa fa-save"></i> Guardar
              </button>
              <button type="button" class="btn btn-outline-secondary" (click)="fcancelar()">
                  <i class="fa fa-times"></i> Cancelar
              </button>
          </div>
      </form>
  </div>
</ng-template>

<ng-template #verusers>
  <div class="modal-header table-success">
    <div class="row col-12">
      <h4 class="modal-title pull-left"><i class="fa fa-edit"></i> {{ estado }} Lista de Usuarios en ROL {{ rol.nombrerol }}</h4><br>
    </div>
  </div>
  <div class="modal-body">
    <div class="row justify-content-center">
      <h3>Lista de Personas</h3>
    </div>
    <div class="row table-responsive pl-3">
      <table class="table table-sm table-bordered table-hover">
        <thead class="table-info">
          <tr>
            <th class="text-center">Nro</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th class="text-center">Carnet</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let _person of personas; let i = index">
            <td class="text-right">{{ i + 1 }}</td>
            <td>{{ _person.primernombre }}</td>
            <td>{{ _person.primerapellido }}</td>
            <td>{{ _person.segundoapellido }}</td>
            <td class="text-center">{{ _person.dip }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-outline-secondary" (click)="fcancelar()">Cerrar</button>
  </div>
</ng-template>

<ng-template #verenlaces>
  <div class="modal-header table-info">
    <div class="row pl-2">
      <h4><i class="fa fa-eye"></i> {{ estado }} Enlaces de ROL {{ rol.nombrerol }}</h4><br>
        <div class="col-sm-12">
        </div>
    </div>
  </div>
  <div class="modal-body">
    <div *ngFor="let categoria of categorias">
      <h5>{{ categoria.categoria.categoria }}</h5>
      <div class="enlaces-grid">
        <div class="enlace-item" *ngFor="let enlace of categoria.enlaces">
          <div class="enlace-info">
            <p><strong>Enlace:</strong> {{ enlace.enlace }}</p>
            <p><input type="checkbox" [checked]="enlace.estado" [disabled]="false" (click)="faceptarenlace(rol.idrol, enlace.idenlace, enlace.estado)"> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="fcancelar()">
        <i class="fa fa-times"></i> Cancelar
    </button>
  </div>
</ng-template>
