<app-cabeceratitulos [titulo]="'Empresas'" [descripcion]="'Lista de empresas'" [icono]="'industry'" [opcion]="'empresas'">
</app-cabeceratitulos>

<div class="row">
    <div class="col-md-12">
        <div class="tile">

            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="input-group justify-content-end">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-primary mr-2" type="button" (click)="fadicionar(ab)"><i class="fa fa-plus"></i> Agregar Empresa</button>
                            <div class="dropdown">
                                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-bars"></i> Opciones
                        </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <button class="dropdown-item" (click)="fdatosPDF()"><i class="fa fa-file-pdf-o"></i> Reporte PDF</button>
                                    <button class="dropdown-item" (click)="fdatosXLS()"><i class="fa fa-file-excel-o"></i> Reporte Excel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control mr-2" [(ngModel)]="buscar" placeholder="Empresa a buscar..." (keyup.enter)="fbuscar()" />
                        <span class="input-group-prepend">
                      <button class="btn btn-outline-primary mr-2" (click)="fbuscar()">
                          <i class="fa fa-search"></i> Buscar
                      </button>
                      <button class="btn btn-outline-dark" (click)="limpiar()">
                          <i class="fa fa-list"></i> Limpiar
                      </button>
                  </span>
                    </div>
                </div>
                <div class="col-md-6 mt-1" *ngIf="total > cantidad">
                    <ngb-pagination class="d-flex justify-content-end align-items-baseline pagination-rounded" [collectionSize]="total" [(page)]="pagina" [maxSize]="cantidad" [rotate]="false" [ellipses]="false" [boundaryLinks]="true" (pageChange)="mostrarMas($event)" size="sm"></ngb-pagination>
                </div>
            </div>

            <div class="table-responsive" *ngIf="datos?.length > 0">
                <p class="text-right" *ngIf="total == 1">
                    Total: <b>{{ total }} registro</b>
                </p>
                <p class="text-right" *ngIf="total > 1">
                    Total: <b>{{ total }} registros</b>
                </p>
                <!-- Mostrando del registro {{((pagina-1)*10)+1}} al {{((pagina-1)*10)+10}} de un total de {{total}} datos -->
                <table class="table table-sm">
                    <thead>
                        <tr class="table-primary">
                            <th class="text-center">Nro.</th>
                            <th class="text-center">Tipo</th>
                            <th class="text-center">Asociacion</th>
                            <th class="text-center">Nombre de unidad productiva</th>
                            <th class="text-center">Descrición</th>
                            <th class="text-center">Nombre del representante legal</th>
                            <th class="text-center">Carnet de identidad</th>
                            <th class="text-center">Rubro</th>
                            <th class="text-center">Subrubro</th>
                            <th class="text-center">Municipio</th>
                            <th class="text-center">Localidad</th>
                            <th class="text-center">Dirección</th>
                            <th class="text-center">Telefono</th>
                            <th class="text-center">Celular</th>
                            <th class="text-center">Correo electrónico</th>
                            <th class="text-center">Imagen</th>
                            <th class="text-center">Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let _item of datos; let i = index">
                            <td>{{ i + 1 + ((pagina-1)*10) }}</td>
                            <td>{{ _item.tipo}}</td>
                            <td>{{ _item.asociacion.asociacion}}</td>
                            <td>{{ _item.empresa}}</td>
                            <td>{{ _item.descripcion}}</td>
                            <td>{{ _item.representante.persona.primerapellido}}</td>
                            <td>{{ _item.representante.persona.dip}}</td>
                            <td>{{ _item.subrubro.rubro.rubro}}</td>
                            <td>{{ _item.subrubro.subrubro}}</td>
                            <td>{{ _item.localidad.municipio.municipio}}</td>
                            <td>{{ _item.localidad.localidad}}</td>
                            <td>{{ _item.direccion }}</td>
                            <td>{{ _item.telefono }}</td>
                            <td>{{ _item.celular }}</td>
                            <td>{{ _item.correo }}</td>
                            <td class="text-center">
                              <div class="main-img text-center">
                                  <img
                                    [src]="ruta+_item.idempresa"
                                    weight="100px"
                                    height="100px"
                                  />
                              </div>
                          </td>
                            <td class="text-right">
                                <button class="btn btn-outline-dark btn-sm m-2" (click)="fmodificar(_item.idempresa, ab)">
                                  <i class="fa fa-edit"> Editar empresa</i>
                                </button>
                                <button class="btn btn-outline-danger btn-sm" (click)="feliminar(_item.idempresa)">
                                  <i class="fa fa-trash"> Eliminar empresa</i>
                                </button>
                            </td>
                        </tr>

                        <tr *ngIf="total > cantidad">
                            <td colspan="16">
                                <ngb-pagination class="d-flex justify-content-center align-items-baseline pagination-rounded" [collectionSize]="total" [(page)]="pagina" [maxSize]="cantidad" [rotate]="false" [ellipses]="false" [boundaryLinks]="true" (pageChange)="mostrarMas($event)" size="sm"></ngb-pagination>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive" *ngIf="total == 0">
                <p class="text-center"><b>Sin empresas</b></p>
            </div>
        </div>
    </div>
</div>

<ng-template #ab>
    <div class="modal-header">
        <h4 class="modal-title pull-left"><i class="fa fa-edit"></i> {{ estado }} Empresa</h4>
        <div class="alert alert-info" role="alert">
            Estimado usuario Los campos remarcados con * son necesarios.
        </div>
    </div>
    <div class="modal-body">
        <form [formGroup]="formulario" (ngSubmit)="faceptar()">
            <div class="form-group">
                <label>Rubro<span class="text-danger"><b>*</b></span></label>
                <select class="form-control" formControlName="idsubrubro">
                  <option *ngFor="let _itemp of subrubros" [value]="_itemp.idsubrubro">
                    {{ _itemp.subrubro }}
                  </option>
                </select>
                <small *ngIf="f.idsubrubro.errors && f.idsubrubro.touched" class="text-danger">
                  El dato es obligatorio
                </small>
            </div>
            <div class="form-group">
                <label>Localidad<span class="text-danger"><b>*</b></span></label>
                <select class="form-control" formControlName="idlocalidad">
                  <option *ngFor="let _itemp of localidades" [value]="_itemp.idlocalidad">
                    {{ _itemp.localidad }}
                  </option>
                </select>
                <small *ngIf="f.idlocalidad.errors && f.idlocalidad.touched" class="text-danger">
                  El dato es obligatorio
                </small>
            </div>
            <div class="form-group">
                <label>Representante<span class="text-danger"><b>*</b></span></label>
                <select class="form-control" formControlName="idrepresentante">
                  <option *ngFor="let _itemp of representantes" [value]="_itemp.idrepresentante">
                    {{ _itemp.representante }}
                  </option>
                </select>
                <small *ngIf="f.idrepresentante.errors && f.idrepresentante.touched" class="text-danger">
                  El dato es obligatorio
                </small>
            </div>
            <div class="form-group">
                <label>Asociacion<span class="text-danger"><b>*</b></span></label>
                <select class="form-control" formControlName="idasociacion">
                  <option *ngFor="let _itemp of asociaciones" [value]="_itemp.idasociacion">
                    {{ _itemp.asociacion }}
                  </option>
                </select>
                <small *ngIf="f.idasociacion.errors && f.idasociacion.touched" class="text-danger">
                  El dato es obligatorio
                </small>
            </div>
            <div class="form-group">
                <label>Empresa<span class="text-danger"><b>*</b></span></label>
                <input type="text" class="form-control" formControlName="empresa" [class.is-invalid]="f.empresa.errors && f.empresa.touched" />
                <small *ngIf="f.empresa.errors && f.empresa.touched" class="text-danger">
                  El dato es obligatorio
                </small>
            </div>
            <div class="form-group">
                <label>Descrición<span class="text-danger"><b>*</b></span></label>
                <input type="text" class="form-control" formControlName="descripcion" [class.is-invalid]="f.descripcion.errors && f.descripcion.touched" />
                <small *ngIf="f.descripcion.errors && f.descripcion.touched" class="text-danger">
                  El dato es obligatorio
                </small>
            </div>
            <div class="form-group">
                <label>Tipo<span class="text-danger"><b>*</b></span></label>
                <select class="form-control" formControlName="tipo">
                  <option value="PROVEEDOR">PROVEEDOR</option>
                  <option value="EMPRESA">EMPRESA</option>
                  <option value="EMPRESA MUNICIPAL">EMPRESA MUNICIPAL</option>
                </select>
                <small *ngIf="f.tipo.errors && f.tipo.touched" class="text-danger">
                  El dato es obligatorio y solo permite letras
                </small>
            </div>
            <div class="form-group">
                <label>Dirección<span class="text-danger"><b>*</b></span></label>
                <input type="text" class="form-control" formControlName="direccion" [class.is-invalid]="f.direccion.errors && f.direccion.touched" />
                <small *ngIf="f.direccion.errors && f.direccion.touched" class="text-danger">
                  El dato es obligatorio
                </small>
            </div>
            <div class="form-group">
                <label>Telefono<span class="text-danger"><b>*</b></span></label>
                <input type="number" class="form-control" formControlName="telefono" [class.is-invalid]="f.telefono.errors && f.telefono.touched" />
                <small *ngIf="f.telefono.errors && f.telefono.touched" class="text-danger">
                  El dato es obligatorio y solo permite números
                </small>
            </div>
            <div class="form-group">
                <label>Celular<span class="text-danger"><b>*</b></span></label>
                <input type="number" class="form-control" formControlName="celular" [class.is-invalid]="f.celular.errors && f.celular.touched" />
                <small *ngIf="f.celular.errors && f.celular.touched" class="text-danger">
                  El dato es obligatorio y solo permite números
                </small>
            </div>
            <div class="form-group">
                <label>Correo<span class="text-danger"><b>*</b></span></label>
                <input type="email" class="form-control" formControlName="correo" [class.is-invalid]="f.correo.errors && f.correo.touched" />
                <small *ngIf="f.correo.errors && f.correo.touched" class="text-danger">
                  El dato es obligatorio
                </small>
            </div>
            <div class="form-group">
                <label>Facebook</label>
                <input type="text" class="form-control" formControlName="facebook" />
            </div>
            <div class="form-group">
                <label>Twitter</label>
                <input type="text" class="form-control" formControlName="twitter" />
            </div>
            <div class="form-group">
                <label>Instagram</label>
                <input type="text" class="form-control" formControlName="instagram" />
            </div>
            <div class="form-group">
                <label>Pagina Web</label>
                <input type="text" class="form-control" formControlName="paginaweb" />
            </div>
            <div class="form-group">
                <label>Otros</label>
                <input type="text" class="form-control" formControlName="otro" />
            </div>
            <div class="form-group">
                <label>Registro SENASAG <span class="text-danger"><b>*</b></span></label>
                <input type="number" class="form-control" formControlName="registrosenasag" [class.is-invalid]="f.registrosenasag.errors && f.registrosenasag.touched" />
                <small *ngIf="f.registrosenasag.errors && f.registrosenasag.touched" class="text-danger">
                  El dato es obligatorio y solo permite números
                </small>
            </div>
            <div class="form-group">
              <label>Logo <span class="text-danger"><b>*</b></span></label>
              <input type="file" class="form-control" (change)="fseleccionarArchivo($event)" />
              <hr>
              <img [src]="imageSrc" *ngIf="imageSrc" class="img-fluid mx-auto d-block" height="150px" width="150px" />
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success m-2" [disabled]="!formulario.valid">
          <i class="fa fa-save"></i> Grabar
        </button>
                <button type="button" class="btn btn-danger" (click)="fcancelar()">
          <i class="fa fa-times"></i> Cancelar
        </button>
            </div>
        </form>
    </div>
</ng-template>