a[ng-reflect-router-link] {}

/* tr[ng-reflect-router-link] {
    cursor: pointer;
}

.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  color: var(--text-dark);
}

thead th {
  text-align: left;
  padding: 0.75rem;
  border-bottom: 2px solid var(--secondary-color);
}

tbody td {
  padding: 0.75rem;
  vertical-align: middle;
} */

/* .product-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
} */

.product-name, .product-price, .product-total {
  text-align: center;
}

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-control input {
  width: 50px;
  text-align: center;
  border: 1px solid var(--secondary-color);
  padding: 0.25rem;
}

.quantity-control .btn-minus,
.quantity-control .btn-plus {
  background-color: var(--bg-light);
  border: 1px solid var(--secondary-color);
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.product-handle .btn-remove {
  background-color: var(--bg-light);
  border: 1px solid var(--secondary-color);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.coupon-apply {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.coupon-apply input {
  border: 0;
  border-bottom: 2px solid var(--secondary-color);
  padding: 0.75rem;
  margin-right: 1rem;
}

.coupon-apply button {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  border-radius: 50px;
  padding: 0.75rem 1.5rem;
  color: var(--primary-color);
  text-transform: uppercase;
}

.cart-total {
  background-color: var(--bg-light);
  border-radius: 8px;
  padding: 1.5rem;
}

.cart-summary h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.subtotal, .shipping, .total-amount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.total-amount {
  padding: 1rem 0;
  border-top: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.cart-total button {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  border-radius: 50px;
  padding: 0.75rem 1.5rem;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-top: 1rem;
}


.puntero:hover{
  cursor: pointer;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  color: #45595b;
}

.position-relative {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 100%;
  /* background-color: #fff; */
}

.overlay-text h1 h4 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* .product {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
  padding-right: 5px;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(1.2em * 3);
}

.tarjeta:hover{
  box-shadow: 1px 5px 15px #a2a2a2;
} */

.btn-outline-custom {
  color: #FF5919;
  border-color: #FF5919;
}

.btn-outline-custom:hover {
  color: #FFF;
  background-color: #FF5919;
  border-color: #FF5919;
}

.btn-outline-custom:focus,
.btn-outline-custom.focus {
  -webkit-box-shadow: 0 0 0 0 rgba(255, 89, 25, 0.5);
  box-shadow: 0 0 0 0 rgba(255, 89, 25, 0.5);
}

.btn-outline-custom.disabled,
.btn-outline-custom:disabled {
  color: #FF5919;
  background-color: transparent;
}

.btn-outline-custom:not(:disabled):not(.disabled):active,
.btn-outline-custom:not(:disabled):not(.disabled).active,
.show>.btn-outline-custom.dropdown-toggle {
  color: #FFF;
  background-color: #FF5919;
  border-color: #FF5919;
}

.btn-outline-custom:not(:disabled):not(.disabled):active:focus,
.btn-outline-custom:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-custom.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(255, 89, 25, 0.5);
  box-shadow: 0 0 0 0 rgba(255, 89, 25, 0.5);
}

.rubro-cantidad {
  margin-left: 8px;
  font-size: 0.875rem;
  /* color: #6c757d; */
}

.product-card {
  width: 100%;
  max-width: 300px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.6s ease, box-shadow 0.3s, border 0.6s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product-card:hover{
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  border: 1px solid #FF5919;
}

.card-header {
  position: relative; /* Asegura que el contenedor sea el punto de referencia para la transformación */
  overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde del contenedor */
  height: 200px;
}

.product-image {
  height: auto;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.product-image:hover {
  transform: scale(1.2); /* Escala la imagen al pasar el cursor */
}

.product-name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta cualquier texto que se desborde */
  text-overflow: ellipsis;
}

.product-description {

  color: #555;

  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;

  font-size: 0.9rem;
  line-height: 1.5; /* Altura de línea que definirá el espacio para cada línea */
  max-height: calc(1.5em * 3); /* Limita la altura máxima a 3 líneas */
  overflow: hidden; /* Oculta cualquier texto que exceda las 3 líneas */
  text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
  min-height: calc(1.5em * 3);
}

.product-price {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.add-to-cart-btn {
  font-size: 0.9rem;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.add-to-cart-btn i {
  margin-right: 5px;
}

.text-right {
  text-align: right;
}

.imagen-logos{
  transition: transform 0.3s;
}
.imagen-logos:hover{
  transform: scale(1.05);
}

.social-icon i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem; /* Tamaño del icono */
  height: 3rem;
  border-radius: 50%; /* Hace que el fondo sea circular */
  background-color: transparent; /* Fondo transparente por defecto */
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Efecto de transición para hover */
  text-decoration: none;
  font-size: 1.5rem; /* Tamaño del icono */
  color: #FFF;
  border: solid 1px #fff;
}

.social-icon:hover i {
  color: #bb2036; /* Color del icono al pasar el ratón */
  background-color: #FFF;
  transform: scale(1.5); /* Aumenta el tamaño del icono al pasar el ratón */
}

.contact-info {
  padding: 20px;
  background-color: #f8f9fa; /* Fondo gris claro para resaltar el contenido */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra sutil para un efecto de elevación */
}

.contact-info h4 {
  margin-bottom: 20px;
  font-size: 1.5rem; /* Tamaño de fuente del título */
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px; /* Espacio entre cada ítem */
}

.contact-item i {
  font-size: 1.5rem; /* Tamaño del ícono */
  margin-right: 10px; /* Espacio entre el ícono y el texto */
}

.contact-item p {
  margin: 0; /* Elimina el margen por defecto */
}

p {
  margin: 5px 0;
}

.contact-item a {
  color: #fff; /* Color del enlace */
  text-decoration: none; /* Elimina el subrayado del enlace */
}

.contact-item a:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón sobre el enlace */
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 80px;
  right: 80px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #FF5919;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

.scroll-to-top-btn:hover {
  background-color: #ff5a1996;
}

:host ::ng-deep .pagination-rounded .page-item {
  border-radius: 50px;
}

:host ::ng-deep .pagination-rounded .page-link {
  border-radius: 50px;
  color: #FF5919;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 10px 16px; /* Aumentar el tamaño del botón */
  font-size: 1.2rem; /* Aumentar el tamaño del texto */
}

:host ::ng-deep .pagination-rounded .page-link:hover {
  background-color: #fc895b;
  color: white;
}

:host ::ng-deep .pagination-rounded .page-item.active .page-link {
  background-color: #FF5919;
  border-color: #FF5919;
  color: white;
}

.spinner-large {
  width: 5rem;
  height: 5rem;
  border-width: 0.5rem;
}

.cargando-texto {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot-one, .dot-two, .dot-three {
  font-size: 1rem;
  animation: blink 1.5s infinite;
}

.dot-two {
  animation-delay: 0.3s;
}

.dot-three {
  animation-delay: 0.6s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.error-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-texto {
  font-size: 1.5rem;
  font-weight: bold;
}

.text-danger {
  color: #dc3545 !important;
}

.text-muted {
  color: #6c757d;
}

/* Estilos para el offcanvas simulado */
.offcanvas-right {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  background-color: #f8f9fa;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 1050;
}

.offcanvas-right.show {
  right: 0;
}

.offcanvas-header {
  padding: 1rem;
  background-color: #FF5919;
  color: white;
  position: relative; /* Asegura que el header no se desplace */
  z-index: 1;
}

.offcanvas-title{
  color: white;
}

.offcanvas-body {
  padding: 1rem;
  height: calc(100% - 200px); /* Ajusta el tamaño restando el espacio del header y footer */
  overflow-y: auto;
}

.offcanvas-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #f8f9fa; /* Ajusta el color según sea necesario */
  border-top: 1px solid #dee2e6; /* Opcional: agrega un borde superior */
  /* display: flex;
  justify-content: flex-end; */
  gap: 10px; /* Espacio entre los botones */
}

.offcanvas-footer .btn {
  border-radius: 50px; /* Opcional: bordes redondeados para los botones */
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  display: none;
}

.backdrop.show {
  display: block;
}

.producto-container{
  border: 1px solid #FF5919;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 89, 25, 0.5);
}

.imagen-producto{
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
@media (max-width: 576px) {
  .imagen-producto {
    width: 80px; /* Ajusta el tamaño de la imagen para pantallas pequeñas */
    height: auto; /* Mantiene la proporción de la imagen */
  }
}

.btn-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn-delete:hover {
  transform: scale(1.1);
}

.btn-delete i {
  margin: 0;
  color: #bb2036;
}

.empty-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  text-align: center;
}

.empty-cart-icon {
  font-size: 100px;
  color: #6c757d;
  margin-bottom: 20px;
}

.toolbar {
  position: fixed;
  left: 0;
  top: 30%;
  transform: translateY(-50%);
  width: 60px;
  background-color: #FF5919;
  padding: 10px 0;
  border-radius: 0 10px 10px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.toolbar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.toolbar-item {
  /* color: #fff; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.toolbar-item i {
  font-size: 2rem; /* Adjust icon size */
  color: #fff;
}

.toolbar-item span {
  margin-top: 5px;
  font-size: 0.8rem;
  color: #fff;
}

.icon-container {
  position: relative; /* For badge positioning */
}

.toolbar-cart {
  position: absolute;
  top: -5px; /* Adjust as needed */
  right: -10px; /* Adjust as needed */
  background-color: #ffc107; /* Badge color */
  color: black; /* Badge text color */
  padding: 3px 6px;
  border-radius: 50%;
  font-size: 0.8rem; /* Adjust font size as needed */
}

.toolbar-item:hover {
  color: #ffc107;
}

/* Responsive adjustments */
@media (max-width: 575px) {
  .toolbar {
    width: 50px;
  }

  .toolbar-item i {
    font-size: 1.5rem;
  }

  .toolbar-item .nombre {
    display: none;
  }
}

@media (min-width: 768px) {
  .toolbar {
    width: 50px;
  }

  .toolbar-item i {
    font-size: 1.5rem;
  }

  .toolbar-item .nombre {
    display: none;
  }
}

@media (min-width: 992px) {
  .toolbar {
    width: 50px;
  }

  .toolbar-item i {
    font-size: 1.5rem;
  }

  .toolbar-item .nombre {
    display: none;
  }
}

.icon-modal {
  position: absolute;
  top: -80px; /* Ajusta esto según el tamaño del ícono */
  left: 50%;
  transform: translateX(-50%);
  background-color: white; /* Fondo blanco para que el ícono no se mezcle con el borde */
  border-radius: 50%;
  padding: 5px 30px;

}

.icon-modal i {
  font-size: 100px; /* Tamaño del ícono */
  color: #007bff; /* Color del ícono */
  margin: 0;
  padding: 0;
}
/* .modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal-icon {
  color: #007bff;
}

.modal-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.modal-subtitle {
  font-size: 1rem;
  color: #6c757d;
}

.form-group {
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-outline-secondary {
  border-color: #6c757d;
  color: #6c757d;
}

.btn-outline-secondary:hover {
  background-color: #6c757d;
  color: #fff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} */
