<app-cabeceratitulos [titulo]="'Asociaciones'" [descripcion]="'Lista de asociaciones'" [icono]="'users'" [opcion]="'asociaciones'">
</app-cabeceratitulos>

<div class="row">
  <div class="col-md-12">
    <div class="card" style="border-radius: 10px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); border: 1px solid #4A5568;">
      <div class="card-header" style="background-color: #4A5568; border-radius: 10px 10px 0 0;">
        <h4 class="text-white">LISTA DE ASOCIACIONES</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="input-group justify-content-first">
              <div class="input-group-prepend">
                <button class="btn btn-sm btn-outline-success rounded-pill mr-2" type="button" (click)="fadicionar(ab)" ><i class="fa fa-plus"></i> Agregar Asociación</button>
                <div class="dropdown">
                  <button class="btn btn-sm btn-outline-info rounded-pill dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bars"></i> Opciones
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <button class="dropdown-item" ><i class="fa fa-file-pdf-o"></i> Reporte PDF</button>
                      <button class="dropdown-item" ><i class="fa fa-file-excel-o"></i> Reporte Excel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mt-1">
            <p *ngIf="total == 0">
              Total: <b>{{ total }} registros</b>
            </p>
            <p *ngIf="total == 1">
              Total: <b>{{ total }} registro</b>
            </p>
            <p *ngIf="total > 1">
              Total: <b>{{ total }} registros</b>
            </p>
          </div>
          <div class="col-sm-6">
            <div class="row justify-content-end">
              <div class="col-sm-2 text-md-right text-sm-left mt-1">
                <label for="">Buscar: </label>
              </div>
              <div class="col-sm-10">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-search"></i></span>
                  </div>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="buscar" placeholder="Asociacion a buscar ..." (keyup)="fbuscar()" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive" *ngIf="datos?.length > 0">
          <table class="table table-sm table-bordered table-hover table-striped tabla-asociacion">
            <thead>
              <tr class="table-primary">
                <th class="text-center">Nro.</th>
                <th class="text-center">Asociación</th>
                <th class="text-center">Fecha de creación</th>
                <th class="text-center">Representante legal</th>
                <th class="text-center">Dirección</th>
                <th class="text-center">Teléfono</th>
                <th class="text-center">Celular</th>
                <th class="text-center">Correo electrónico</th>
                <th class="text-center">Operaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let _item of datos; let i = index">
                <td class="text-right">{{i+1}}</td>
                <td>{{ _item.asociacion }}</td>
                <td>{{ _item.fechacreacion }}</td>
                <td>{{ _item.representantelegal }}</td>
                <td>{{ _item.direccion }}</td>
                <td>{{ _item.telefono }}</td>
                <td>{{ _item.celular }}</td>
                <td>{{ _item.correo }}</td>
                <td class="text-center">
                  <div class="btn-group" role="group" aria-label="First group">
                    <button class="btn btn-outline-info btn-sm" title="Ver Asociacion">
                      <i class="fa fa-eye"></i>
                    </button>
                    <button class="btn btn-outline-warning btn-sm" title="Editar Asociacion" (click)="fmodificar(_item.idasociacion, ab)">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-outline-danger btn-sm" title="Eliminar Asociacion" (click)="feliminar(_item.idasociacion)" [disabled]="!esCargoAdministrador && !esCargoTecnologia">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive" *ngIf="total == 0">
          <table class="table table-sm table-bordered table-hover tabla-asociacion">
            <thead>
              <tr class="table-primary">
                <th class="text-center">Nro.</th>
                <th class="text-center">Asociación</th>
                <th class="text-center">Fecha de creación</th>
                <th class="text-center">Representante legal</th>
                <th class="text-center">Dirección</th>
                <th class="text-center">Teléfono</th>
                <th class="text-center">Celular</th>
                <th class="text-center">Correo electrónico</th>
                <th class="text-center">Operaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="9" class="text-center">No se encontraron registros.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row mt-2">
          <div class="col-sm-6">
            <p>Mostrando del {{((pagina-1)*10)+1}} al {{((pagina-1)*10)+10}} de {{total}} datos</p>
          </div>
          <div class="col-sm-6">
            <ngb-pagination class="d-flex justify-content-end pagination-rounded" [collectionSize]="total" [(page)]="pagina" [maxSize]="cantidad" [rotate]="false" [ellipses]="false" [boundaryLinks]="true" (pageChange)="mostrarMas($event)"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #ab>
    <div class="modal-header" style="background-color: #4A5568; ">
        <h4 class="modal-title pull-left text-white"><i class="fa fa-edit"></i> {{ estado }} Asociación</h4>
    </div>
    <div class="modal-body">
      <div class="alert alert-info p-2" role="alert">
        Los campos remarcados con * son necesarios.
      </div>
        <form [formGroup]="formulario" (ngSubmit)="faceptar()">
            <div class="form-group">
                <label>Asociacion <span class="text-danger"><b>*</b></span></label>
                <input type="text" class="form-control form-control-sm" formControlName="asociacion" [class.is-invalid]="f.asociacion.errors && f.asociacion.touched" />
                <small *ngIf="f.asociacion.errors && f.asociacion.touched" class="text-danger">
                  El dato es obligatorio y solo permite letras
                </small>
            </div>
            <div class="form-group">
                <label>Descripción <span class="text-danger"><b>*</b></span></label>
                <input type="text" class="form-control form-control-sm" formControlName="descripcion" [class.is-invalid]="f.descripcion.errors && f.descripcion.touched" />
                <small *ngIf="f.descripcion.errors && f.descripcion.touched" class="text-danger">
                El dato es obligatorio y solo permite letras
                </small>
            </div>
            <div class="form-group">
                <label>Fecha de creación <span class="text-danger"><b>*</b></span></label>
                <input type="date" class="form-control form-control-sm" formControlName="fechacreacion" [class.is-invalid]="f.fechacreacion.errors && f.fechacreacion.touched" />
                <small *ngIf="f.fechacreacion.errors && f.fechacreacion.touched" class="text-danger">
                El dato es obligatorio
                </small>
            </div>
            <div class="form-group">
                <label>Representante Legal <span class="text-danger"><b>*</b></span></label>
                <input type="text" class="form-control form-control-sm" formControlName="representantelegal" [class.is-invalid]="f.representantelegal.errors && f.representantelegal.touched" />
                <small *ngIf="f.representantelegal.errors && f.representantelegal.touched" class="text-danger">
                El dato es obligatorio
                </small>
            </div>
            <div class="form-group">
                <label>Dirección <span class="text-danger"><b>*</b></span></label>
                <input type="text" class="form-control form-control-sm" formControlName="direccion" [class.is-invalid]="f.direccion.errors && f.direccion.touched" />
                <small *ngIf="f.direccion.errors && f.direccion.touched" class="text-danger">
                El dato es obligatorio
                </small>
            </div>
            <div class="form-group">
                <label>Teléfono <span class="text-danger"><b>*</b></span></label>
                <input type="number" class="form-control form-control-sm" formControlName="telefono" [class.is-invalid]="f.telefono.errors && f.telefono.touched" />
                <small *ngIf="f.telefono.errors && f.telefono.touched" class="text-danger">
                El dato es obligatorio y solo permite numeros
                </small>
            </div>
            <div class="form-group">
                <label>Celular <span class="text-danger"><b>*</b></span></label>
                <input type="number" class="form-control form-control-sm" formControlName="celular" [class.is-invalid]="f.celular.errors && f.celular.touched" />
                <small *ngIf="f.celular.errors && f.celular.touched" class="text-danger">
                El dato es obligatorio y solo permite numeros
                </small>
            </div>
            <div class="form-group">
                <label>Correo <span class="text-danger"><b>*</b></span></label>
                <input type="email" class="form-control form-control-sm" formControlName="correo" [class.is-invalid]="f.correo.errors && f.correo.touched" />
                <small *ngIf="f.correo.errors && f.correo.touched" class="text-danger">
                El dato es obligatorio
                </small>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-sm btn-outline-success rounded-pill m-2" [disabled]="!formulario.valid">
                <i class="fa fa-save"></i> Grabar
            </button>
                <button type="button" class="btn btn-sm btn-outline-secondary rounded-pill" (click)="fcancelar()">
                <i class="fa fa-times"></i> Cancelar
            </button>
            </div>
        </form>
    </div>
</ng-template>
