<app-cabeceratitulos [titulo]="'Indicadores'" [descripcion]="'Lista de Empresas en Tienda Virtual'" [icono]="'bi bi-bar-chart-line-fill'" [opcion]="'Indicadores'">
</app-cabeceratitulos>

<div class="row">
    <div class="col-md-12">
      <div class="card" style="border-radius: 10px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); border: 1px solid #4A5568;">
        <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #4A5568; border-radius: 10px 10px 0 0;">
          <h4 class="text-white">INDICADORES DE DATOS</h4>
        </div>
      </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-6 mt-2">
      <div class="card" style="border-radius: 10px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); border: 1px solid #7d7f81;">
        <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #7d7f81; border-radius: 10px 10px 0 0;">
          <h4 class="text-white">POR GESTION</h4>
        </div>
        <div class="card-body">
            <div [chart]="chart1"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-2">
      <div class="card" style="border-radius: 10px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); border: 1px solid #7d7f81;">
        <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #7d7f81; border-radius: 10px 10px 0 0;">
          <h4 class="text-white">POR RUBROS</h4>
        </div>
        <div class="card-body">
            <div [chart]="chart2"></div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-2">
      <div class="card" style="border-radius: 10px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); border: 1px solid #7d7f81;">
        <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #7d7f81; border-radius: 10px 10px 0 0;">
          <h4 class="text-white">POR MUNICIPIOS</h4>
        </div>
        <div class="card-body">
            <div [chart]="chart3"></div>
        </div>
      </div>
    </div>
    <div *ngFor="let gestion of gestiones; let i = index" class="col-md-6 mt-2">
        <div class="card" style="border-radius: 10px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); border: 1px solid #7d7f81;">
            <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #7d7f81; border-radius: 10px 10px 0 0;">
                <h4 class="text-white">Por Rubros y Gestión {{ gestion.gestion }}</h4>
            </div>
            <div class="card-body">
                <div [chart]="chart4[i]" ></div>    
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-2">
      <div class="card" style="border-radius: 10px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); border: 1px solid #7d7f81;">
        <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #7d7f81; border-radius: 10px 10px 0 0;">
          <h4 class="text-white">UNIDADES PRODUCTIVAS EN TIENDA VIRTUAL</h4>
        </div>
        <div class="card-body">
            <div [chart]="chart5" ></div>
        </div>
      </div>
    </div>
</div>
