<app-cabeceratitulos [titulo]="'Municipios'" [descripcion]="'Lista de municipios'" [icono]="'map-o'" [opcion]="'municipios'">
</app-cabeceratitulos>

<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <div class="row justify-content-center">
        <h4>LISTA DE MUNICIPIOS y LOCALIDADES</h4>
      </div>
      <div class="row">
        <div class="col-md-12 mb-2">
          <div class="input-group justify-content-first">
            <div class="input-group-prepend">
              <button class="btn btn-sm btn-outline-success mr-2" type="button" (click)="fadicionar(ab)" *ngIf="esCargoAdministrador || esCargoTecnologia || esCargoEncargado"><i class="fa fa-plus"></i> Agregar Municipio</button>
              <div class="dropdown">
                <button class="btn btn-sm btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-bars"></i> Opciones
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button class="dropdown-item" ><i class="fa fa-file-pdf-o"></i> Reporte PDF</button>
                  <button class="dropdown-item" ><i class="fa fa-file-excel-o"></i> Reporte Excel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 mt-1">
          <p *ngIf="total == 0">
            Total: <b>{{ total }} registros</b>
          </p>
          <p *ngIf="total == 1">
            Total: <b>{{ total }} registro</b>
          </p>
          <p *ngIf="total > 1">
            Total: <b>{{ total }} registros</b>
          </p>
        </div>
        <div class="col-sm-6">
          <div class="row justify-content-end">
            <div class="col-sm-2 text-md-right text-sm-left mt-1">
              <label for="">Buscar: </label>
            </div>
            <div class="col-sm-10">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-search"></i></span>
                </div>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="buscar" placeholder="Municipio a buscar ..." (keyup)="fbuscar()" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive" *ngIf="datos?.length > 0">
        <table class="table table-bordered table-striped table-hover table-sm tabla-municipio">
          <thead>
              <tr class="table-primary">
                  <th class="text-center">Nro.</th>
                  <th class="text-left">Municipio</th>
                  <th class="text-center">Estado</th>
                  <th class="text-center">Fecha Registro</th>
                  <th class="text-center">Operaciones</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let _item of datos; let i = index">
              <td class="text-right">{{ i + 1 + ((pagina-1)*10) }}</td>
              <td class="text-left">
                <b>{{ _item.municipio }}</b>
              </td>
              <td class="text-center">
                <span class="estado badge {{ _item.estado ? 'badge-success' : 'badge-danger' }}" title="Cambiar estado" (click)="fcambiarestadoMuni(_item.idmunicipio, !_item.estado)" *ngIf="esCargoAdministrador || esCargoEncargado || esCargoTecnologia">
                  {{ _item.estado ? 'HABILITADO' : 'INHABILITADO' }}
                </span>
                <span class="badge {{ _item.estado ? 'badge-success' : 'badge-danger' }}" title="Cambiar estado" *ngIf="!esCargoAdministrador && !esCargoEncargado && !esCargoTecnologia">
                  {{ _item.estado ? 'HABILITADO' : 'INHABILITADO' }}
                </span>
              </td>
              <td class="text-center">{{ _item.created_at | date:'dd/MM/yyyy HH:mm' }}</td>
              <td class="text-center">
                <div class="btn-group" role="group" aria-label="First group">
                  <button class="btn btn-outline-info btn-sm" title="Ver Localidades" (click)="fverlocalidades(_item.idmunicipio, ver)">
                    <i class="fa fa-eye"></i>
                  </button>
                  <button class="btn btn-outline-warning btn-sm" title="Editar Municipio" (click)="fmodificar(_item.idmunicipio, ab)" [disabled]="!esCargoAdministrador && !esCargoTecnologia && !esCargoEncargado">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button class="btn btn-outline-danger btn-sm" title="Eliminar Municipio" (click)="feliminar(_item.idmunicipio)" [disabled]="!esCargoAdministrador && !esCargoTecnologia">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive" *ngIf="total == 0">
        <table class="table table-bordered table-striped table-hover table-sm">
          <thead>
              <tr class="table-primary">
                  <th class="text-left">Nro.</th>
                  <th class="text-left">Municipio</th>
                  <th class="text-center">Estado</th>
                  <th class="text-center">Fecha</th>
                  <th class="text-center">Operaciones</th>
              </tr>
          </thead>
          <tbody>
            <tr><td colspan="5" class="text-center">No se encontraron registros.</td></tr>
          </tbody>
        </table>
      </div>
      <div class="row mt-2">
        <div class="col-sm-6">
          <p>Mostrando del {{((pagina-1)*10)+1}} al {{((pagina-1)*10)+10}} de {{total}} datos</p>
        </div>
        <div class="col-sm-6">
          <ngb-pagination class="d-flex justify-content-end pagination-rounded" [collectionSize]="total" [(page)]="pagina" [maxSize]="cantidad" [rotate]="false" [ellipses]="false" [boundaryLinks]="true" (pageChange)="mostrarMas($event)"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #ab>
    <div class="modal-header">
        <h4 class="modal-title pull-left"><i class="fa fa-edit"></i> {{ estado }} Municipio</h4>
        <div class="alert alert-info" role="alert">
            Estimado usuario Los campos remarcados con * son necesarios.
        </div>
    </div>
    <div class="modal-body">
        <form [formGroup]="formulario" (ngSubmit)="faceptar()">
            <div class="form-group">
                <label>Municipio <span class="text-danger"><b>*</b></span></label>
                <input type="text" class="form-control" formControlName="municipio" [class.is-invalid]="f.municipio.errors && f.municipio.touched" (input)="onInput($event, 'municipio', 'letrasyespacios')" autocomplete="no" required/>
                <small *ngIf="f.municipio.errors&& f.municipio.touched" class="text-danger">
                  <ng-container *ngIf="f.municipio.errors.required">
                    El dato es obligatorio.
                  </ng-container>
                  <ng-container *ngIf="f.municipio.errors.pattern">
                    Solo se permiten letras y espacio.
                  </ng-container>
                  <ng-container *ngIf="f.municipio.errors.minlength">
                    Debe ser mas de 5 caracteres.
                  </ng-container>
                  <ng-container *ngIf="f.municipio.errors.maxlength">
                    No puede exceder los 50 caracteres.
                  </ng-container>
                </small>
            </div>
            <!-- <div id="mapa" class="map-container"> </div> -->

            <div class="text-center">
                <button type="submit" class="btn btn-outline-success m-2" [disabled]="!formulario.valid">
                    <i class="fa fa-save"></i> Grabar
                </button>
                <button type="button" class="btn btn-outline-secondary" (click)="fcancelar()">
                    <i class="fa fa-times"></i> Cancelar
                </button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #ver>
    <div class="modal-header alert-info">
        <h4 class="modal-title pull-left"><i class="fa fa-edit"></i> {{ estado }} de Localidades del Municipio "{{ dato.municipio }}"</h4>
    </div>
    <div class="modal-body">
      <div class="col-12 text-center">
        <h3>Localidades</h3>
      </div>
      <div class="col-12 text-right">
        <button class="btn btn-sm btn-outline-success" (click)="faddlocal(addlocal, dato)" *ngIf="esCargoAdministrador || esCargoTecnologia || esCargoEncargado">
          <i class="fa fa-plus"></i> Agregar Localidad
        </button>
      </div>
      <div class="col-12 mt-2 table-responsive">
        <table class="table table-sm table-bordered table-hover tabla-localidad">
          <thead class="table-success">
            <tr>
              <th>Nro</th>
              <th>Localidad</th>
              <th class="text-center">Estado</th>
              <th class="text-center">Fecha</th>
              <th class="text-center">Opcion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let _local of localidades; let i = index">
              <td class="text-right">{{ i + 1 }}</td>
              <td>{{ _local.localidad }}</td>
              <td class="text-center">
                <span class="estado badge {{ _local.estado ? 'badge-success' : 'badge-danger' }}" title="Cambiar estado" (click)="fcambiarestadoLocal(_local.idlocalidad, !_local.estado)" *ngIf="esCargoAdministrador || esCargoEncargado || esCargoTecnologia">
                  {{ _local.estado ? 'HABILITADO' : 'INHABILITADO' }}
                </span>
                <span class="badge {{ _local.estado ? 'badge-success' : 'badge-danger' }}" title="Cambiar estado" *ngIf="!esCargoAdministrador && !esCargoEncargado && !esCargoTecnologia">
                  {{ _local.estado ? 'HABILITADO' : 'INHABILITADO' }}
                </span>
              </td>
              <td class="text-center">{{ _local.created_at | date:'dd/MM/yyyy HH:mm' }}</td>
              <td class="text-center">
                <div class="btn-group" role="group" aria-label="First group">

                  <button class="btn btn-outline-warning btn-sm" title="Editar Localidad" (click)="fmodLocal(_local.idlocalidad, addlocal)" [disabled]="!esCargoAdministrador && !esCargoTecnologia && !esCargoEncargado">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button class="btn btn-outline-danger btn-sm" title="Eliminar Localidad" [disabled]="!esCargoAdministrador && !esCargoTecnologia">
                    <i class="fa fa-trash"></i>
                  </button>
              </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-outline-secondary" (click)="fcancelar()">Cerrar</button>
    </div>
</ng-template>

<ng-template #addlocal>
  <div class="modal-header">
      <h4 class="modal-title pull-left"><i class="fa fa-edit"></i> {{ estado }} Localidad</h4>
      <div class="alert alert-info" role="alert">
          Estimado usuario Los campos remarcados con * son necesarios.
      </div>
  </div>
  <div class="modal-body">
      <form [formGroup]="formlocalidad" (ngSubmit)="faceptarLocal()">
          <div class="form-group">
              <label>Municipio: <span class="text-danger"><b>*</b></span></label>
              <select class="form-control form-control-sm" formControlName="idmunicipio" >
                <option *ngFor="let _mun of datos" [value]="_mun.idmunicipio">
                  {{ _mun.municipio }}
                </option>
              </select>
              <small *ngIf="fl.idmunicipio.errors&& fl.idmunicipio.touched" class="text-danger">
                  <ng-container *ngIf="fl.idmunicipio.errors.required">
                      El dato es obligatorio.
                  </ng-container>
              </small>
          </div>
          <div class="form-group">
              <label>Localidad: <span class="text-danger"><b>*</b></span></label>
              <input type="text" class="form-control" formControlName="localidad" [class.is-invalid]="fl.localidad.errors && fl.localidad.touched" (input)="onInput($event, 'localidad', 'letrasyespacios')" autocomplete="no" required/>
              <small *ngIf="fl.localidad.errors&& fl.localidad.touched" class="text-danger">
                <ng-container *ngIf="fl.localidad.errors.required">
                  El dato es obligatorio.
                </ng-container>
                <ng-container *ngIf="fl.localidad.errors.pattern">
                  Solo se permiten letras y espacio.
                </ng-container>
                <ng-container *ngIf="fl.localidad.errors.minlength">
                  Debe ser mas de 5 caracteres.
                </ng-container>
                <ng-container *ngIf="fl.localidad.errors.maxlength">
                  No puede exceder los 50 caracteres.
                </ng-container>
              </small>
          </div>
          <!-- <div id="mapa" class="map-container"> </div> -->

          <div class="text-center">
              <button type="submit" class="btn btn-outline-success m-2" [disabled]="!formlocalidad.valid">
                  <i class="fa fa-save"></i> Grabar
              </button>
              <button type="button" class="btn btn-outline-secondary" (click)="fcancelarLocal()">
                  <i class="fa fa-times"></i> Cancelar
              </button>
          </div>
      </form>
  </div>
</ng-template>
