@import "https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css";
#mapa {
    height: 750px;
    width: 100%;
}

.marker {
    height: 9px;
    width: 7px;
    cursor: pointer;
}
.estado:hover{
  cursor: pointer;
}

.tabla-municipio{
  box-shadow: 2px 2px 18px 2px #a2a2a2;
}
.tabla-localidad{
  box-shadow: 2px 2px 18px 2px #a2a2a2;
}
