<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a href="" class="navbar-brand"><img src="assets/imagenes/logo.png" class="img-fluid" width="100px"/></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">

      </ul>
      <form class="form-inline my-2 my-md-0 d-flex flex-lg-row flex-column align-items-lg-end align-items-end">
          <a  class="app-nav__item text-right puntero" (click)="fsolicitar(solicita)" title="Carrito">
            <span class=" d-sm-inline d-lg-none text-white">Carrito de Compras </span>
            <i class="fa fa-shopping-cart fa-2x text-white"></i>
            <span class="badge badge-warning" *ngIf="cantidadcarrito.cantidad > 0">x{{ cantidadcarrito.cantidad }}</span>
          </a>
          <a *ngIf="localnombre==''" class="app-nav__item text-right puntero " (click)="faccesom(accesom)" title="Iniciar Sesión">
            <span class=" d-sm-inline d-lg-none text-white mr-2">Iniciar Sesión </span>
            <i class="fa fa-user fa-2x text-white"></i>
          </a>
          <a class="app-nav__item text-right puntero " *ngIf="localnombre"  title="Iniciar Sesión">
            <span class="text-white mr-2">Bienvenido: {{ localnombre }} </span>
            <i class="fa fa-user fa-2x text-white d-sm-inline d-lg-none"></i>
          </a>
          <a *ngIf="localnombre" class="app-nav__item text-right puntero " (click)="fsalir()" title="Cerrar Sesion">
            <span class=" d-sm-inline d-lg-none text-white mr-2">Cerrar Sesión </span>
            <i class="fa fa-sign-out fa-2x text-white"></i>
          </a>
      </form>
    </div>
  </div>
</nav>

<div class="container" style="padding-top: 70px;">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><a (click)="finicio()" style="cursor: pointer"><i class="fa fa-"></i><- Atrás</a></li>
    </ol>
  </nav>
</div>

<div class="container-lg" *ngIf="dato">
  <div class="row justify-content-center">
    <div class="col-md-10 col-sm-12">
      <h2>{{ dato.producto }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 col-sm-12">
      <div class="">
        <img class="img-fluid puntero" [src]="ruta+id" width="50px" height="50px">
        <img class="img-fluid puntero" [src]="ruta+id+1" width="50px" height="50px">
        <img class="img-fluid puntero" [src]="ruta+id+2" width="50px" height="50px">
        <img class="img-fluid puntero" [src]="ruta+id+3" width="50px" height="50px">
        <img class="img-fluid puntero" [src]="ruta+id+4" width="50px" height="50px">
        <img class="img-fluid puntero" [src]="ruta+id+5" width="50px" height="50px">
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <img
          [src]="ruta+id"
          class="img-thumbnail" width="200px"
      />
        <h3 class="d-block mb-3 font-size-xs text-muted">Precio de Referencia <span class="font-weight-semibold">{{ dato.precioventa }} Bs</span></h3>
        <!-- <button class="btn btn-pill btn-outline-primary btn-sm m-2" (click)="fadicionar(dato.idproducto, 1, solicitaproducto)"><i class="fa fa-cart-plus"></i></button>
        <button class="btn btn-pill btn-outline-primary btn-sm mr-2" (click)="fwhastapp(dato.empresa.celular)"><i class="fa fa-whatsapp"></i></button> -->
    </div>
    <div class="col-md-5 col-sm-12">
      <div class="row">
        <div class="col-sm-12 mt-2">
          <h4>1.- Precio</h4>
          <h5>{{ dato.precioventa }} Bs.</h5>
        </div>
        <div class="col-sm-12">
          <a href="#"><i class="fa fa-star fa-lg"></i></a>
          <a href="#"><i class="fa fa-star fa-lg"></i></a>
          <a href="#"><i class="fa fa-star fa-lg"></i></a>
          <a href="#"><i class="fa fa-star fa-lg"></i></a>
          <a href="#"><i class="fa fa-star fa-lg"></i></a>
        </div>
        <div class="col-sm-12 mt-2">
          <h4>2.- Color</h4>
          <h5><span class="text-danger">ROJO</span></h5>
        </div>
        <div class="col-sm-12 mt-2">
          <h4>3.- Material</h4>
          <button class="btn btn-sm btn-outline-secondary mr-2">Cuero</button>
        </div>
        <div class="col-sm-12 mt-2">
          <h4>4.- Tamaño o Talla</h4>
          <button class="btn btn-sm btn-outline-secondary mr-2">S</button>
          <button class="btn btn-sm btn-outline-secondary mr-2">M</button>
          <button class="btn btn-sm btn-outline-secondary mr-2">L</button>
        </div>
        <div class="col-sm-12 mt-3 align-items-center">
          <div class="input-group mb-3" style="width: 100px;">
            <div class="input-group-prepend">
              <button class="btn btn-sm btn-light border rounded-circle" (click)="fmenos()">
                <i class="fa fa-minus"></i>
              </button>
            </div>
            <input type="text" class="form-control form-control-sm text-center border-0" [(ngModel)]="cantProd" value="1">
            <div class="input-group-prepend">
              <button class="btn btn-sm btn-light border rounded-circle" (click)="fmas()">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-2">
          <div class="d-flex justify-content-between flex-lg-wrap">
            <a (click)="fadicionar(dato.idproducto, 1)" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-cart me-2 text-primary"></i> Añadir al Carrito</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-toggle="tab" data-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Descripcion</button>
          <button class="nav-link" id="nav-profile-tab" data-toggle="tab" data-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Empresa</button>
          <button class="nav-link" id="nav-contact-tab" data-toggle="tab" data-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Comentarios</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <h4>Descripción</h4>
          <h6>{{ dato.descripcion }}</h6>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <img
            [src]="rutaempresa+dato.empresa.idempresa"
            class="rounded-circle"
            weight="80px"
            height="80px"
          />
          <p class="text-justify">{{ dato.empresa.descripcion }}</p>
          <table class="table table-sm">
              <tr>
                <td class="text-right">Empresa:</td>
                <td class="text-left"><b>{{ dato.empresa.empresa }}</b></td>
              </tr>
              <tr>
                <td class="text-right">Municipio y Localidad:</td>
                <td class="text-left"><b>{{ dato.empresa.localidad.municipio.municipio}}, {{ dato.empresa.localidad.localidad }}</b></td>
              </tr>
              <tr *ngIf="dato.empresa.direccion">
                <td class="text-right">Dirección:</td>
                <td class="text-left"><b>{{ dato.empresa.direccion }}</b></td>
              </tr>
              <tr *ngIf="dato.empresa.telefono">
                <td class="text-right">Teléfono:</td>
                <td class="text-left"><b>{{ dato.empresa.telefono }}</b></td>
              </tr>
              <tr *ngIf="dato.empresa.celular">
                <td class="text-right">Celular:</td>
                <td class="text-left"><b>{{ dato.empresa.celular }}</b></td>
              </tr>
              <tr *ngIf="dato.empresa.correo">
                <td class="text-right">Correo Electrónico:</td>
                <td class="text-left"><b><a href="mailto:{{ dato.empresa.correo }}">{{ dato.empresa.correo }}</a></b></td>
              </tr>
              <tr *ngIf="dato.empresa.facebook">
                  <td class="text-right">Facebook:</td>
                  <td class="text-left"><b><a href="{{ dato.empresa.facebook }}" target="_blank">{{ dato.empresa.facebook }}</a></b></td>
                </tr>
          </table>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <div class="row">
            <div class="col-sm-3 text-center">
              <img src="assets/catalogo/img/avatar.jpg" class="img-fluid rounded-circle p-3" width="200px">
            </div>
            <div class="col-sm-9">
              <div class="">
                <p class="mb-2">April 12, 2024</p>
              </div>
              <div class="d-flex justify-content-between">
                <h5>JSON SMITH</h5>
                <div class="d-flex mb-3">
                  <a href="#"><i class="fa fa-star fa-lg"></i></a>
                  <a href="#"><i class="fa fa-star fa-lg"></i></a>
                  <a href="#"><i class="fa fa-star fa-lg"></i></a>
                  <a href="#"><i class="fa fa-star fa-lg"></i></a>
                  <a href="#"><i class="fa fa-star fa-lg"></i></a>
                </div>
              </div>
              <p>
                The generated Lorem Ipsum is therefore always free from repetition injected humour, or non-characteristic words etc. Susp endisse ultricies nisi vel quam suscipit
              </p>
            </div>
          </div><hr>
          <div class="row">
            <div class="col-sm-3 text-center">
              <img src="assets/catalogo/img/avatar.jpg" class="img-fluid rounded-circle p-3" width="200px">
            </div>
            <div class="col-sm-9">
              <div class="">
                <p class="mb-2">April 12, 2024</p>
              </div>
              <div class="d-flex justify-content-between">
                <h5>JSON SMITH</h5>
                <div class="d-flex mb-3">
                  <a href="#"><i class="fa fa-star fa-lg"></i></a>
                  <a href="#"><i class="fa fa-star fa-lg"></i></a>
                  <a href="#"><i class="fa fa-star fa-lg"></i></a>
                  <a href="#"><i class="fa fa-star fa-lg"></i></a>
                  <a href="#"><i class="fa fa-star fa-lg"></i></a>
                </div>
              </div>
              <p>
                The generated Lorem Ipsum is therefore always free from repetition injected humour, or non-characteristic words etc. Susp endisse ultricies nisi vel quam suscipit
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="container-fluid" >
  <p class="app-footer__logo text-center">
    <small>Desarrollado por: SDDPI - DPEIC - REACTIVA TIC &copy; 2022-{{ gestion }} GADOR</small>
  </p>
</footer>

<ng-template #solicita>
  <div class="modal-header justify-content-between">
    <h4 class="modal-title pull-left">Mi Carrito</h4>
    <i class="fa fa-shopping-cart fa-2x"></i>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="table-responsive" *ngIf="carritos?.length > 0">
        <table class="table table-sm">
          <thead>
            <tr class="table-primary">
              <th class="text-left">Producto</th>
              <th class="text-center">Precio Unitario</th>
              <th class="text-center">Cantidad</th>
              <th class="text-center">Total</th>
              <th class="text-right">Operaciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let _item of carritos; let i = index">
              <td class="text-left">{{ _item.producto.producto }}</td>
              <td class="text-center">{{ _item.producto.precioventa }} Bs.</td>
              <td class="text-center">
                {{ _item.cantidad }}
              </td>
              <td class="text-center">{{ _item.cantidad*_item.producto.precioventa }} Bs.</td>
              <td class="text-right">
                <button class="btn btn-sm btn-outline-danger" (click)="feliminar(_item.idproducto)" title="Quitar producto">
                  <i class="fa fa-trash fa-2x"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <button class="btn btn-outline-success mr-2" (click)="fprocesa(pedido)" >
            <span><i class="fa fa-cogs"></i> Realizar Compra</span>
          </button>
          <button class="btn btn-outline-secondary mr-2" (click)="fcerrar()">
            <span><i class="fa fa-close"></i> Cerrar</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="table-responsive" *ngIf="!(carritos?.length > 0)">
        <table class="table table-sm">
          <thead>
            <tr class="table-primary">
              <th class="text-left">Producto</th>
              <th class="text-center">Precio Unitario</th>
              <th class="text-center">Cantidad</th>
              <th class="text-center">Total</th>
              <th class="text-right">Operaciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="5" class="text-center"><h3>Tu carrito está vacío</h3></td>
            </tr>
          </tbody>
        </table>
        <div class="text-center" *ngIf="!(carritos?.length > 0)">
          <button class="btn btn-outline-secondary mr-2" (click)="fcerrar()">
            <span><i class="fa fa-close"></i> Cerrar</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #pedido>
  <div class="modal-header">
      <h4 class="modal-title pull-left"><i class="fa fa-edit"></i> Proceso de solicitud</h4>
      <div class="alert alert-info" role="alert">
          Estimado cliente Los campos remarcados con * son necesarios.
      </div>
  </div>
  <div class="modal-body">
      <form [formGroup]="formulario" (ngSubmit)="faceptar()">
          <div class="form-group">
              <label>Nombre completo <span class="text-danger"><b>*</b></span></label>
              <input type="text" class="form-control" formControlName="primerapellido" [class.is-invalid]="f.primerapellido.errors && f.primerapellido.touched" />
              <small *ngIf="f.primerapellido.errors&& f.primerapellido.touched" class="text-danger">
                El dato es obligatorio y solo permite letras
              </small>
          </div>
          <div class="form-group">
              <label>Celular <span class="text-danger"><b>*</b></span></label>
              <input type="number" class="form-control" formControlName="celular" [class.is-invalid]="f.celular.errors && f.celular.touched" />
              <small *ngIf="f.celular.errors && f.celular.touched" class="text-danger">
              El dato es obligatorio y solo permite numeros de celulares
              </small>
          </div>
          <div class="form-group">
              <label>Correo </label>
              <input type="email" class="form-control" formControlName="correo" [class.is-invalid]="f.correo.errors && f.correo.touched" />
              <small *ngIf="f.correo.errors && f.correo.touched" class="text-danger">
              El dato es obligatorio
              </small>
          </div>
          <div class="text-center">
              <button type="submit" class="btn btn-success m-2" [disabled]="!formulario.valid">
                <i class="fa fa-save"></i> Grabar
            </button>
              <button type="button" class="btn btn-danger" (click)="fcancelar()">
                <i class="fa fa-times"></i> Cancelar
            </button>
          </div>
      </form>
  </div>
</ng-template>

<ng-template #accesom>
  <div class="modal-header">
      <h4 class="modal-title pull-left"><i class="fa fa-edit"></i> Acceso al sistema</h4>
      <div class="alert alert-info" role="alert">
          Estimado cliente Los campos remarcados con * son necesarios.
      </div>
  </div>
  <div class="modal-body">
      <form [formGroup]="formulariom" (ngSubmit)="faceptarm()">
          <div class="form-group">
              <label>Celular <span class="text-danger"><b>*</b></span></label>
              <input type="number" class="form-control" formControlName="celular" [class.is-invalid]="fm.celular.errors && fm.celular.touched" />
              <small *ngIf="fm.celular.errors && fm.celular.touched" class="text-danger">
              El dato es obligatorio y solo permite numeros de celulares
              </small>
          </div>
          <div class="form-group">
              <label>Clave de acceso <span class="text-danger"><b>*</b></span></label>
              <input type="password" class="form-control" formControlName="clave" [class.is-invalid]="fm.clave.errors && fm.clave.touched" />
              <small *ngIf="fm.clave.errors && fm.clave.touched" class="text-danger">
              El dato es obligatorio
              </small>
          </div>
          <div class="text-center">
              <button type="submit" class="btn btn-success m-2" [disabled]="!formulariom.valid">
                <i class="fa fa-sign-in"></i> Ingresar
            </button>
              <button type="button" class="btn btn-danger" (click)="fcancelar()">
                <i class="fa fa-times"></i> Cancelar
            </button>
          </div>
      </form>
  </div>
</ng-template>
