
.puntero:hover{
  cursor: pointer;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  color: #45595b;
}

.btn-outline-custom {
  color: #FF5919;
  border-color: #FF5919;
}

.btn-outline-custom:hover {
  color: #FFF;
  background-color: #FF5919;
  border-color: #FF5919;
}

.btn-outline-custom:focus,
.btn-outline-custom.focus {
  -webkit-box-shadow: 0 0 0 0 rgba(255, 89, 25, 0.5);
  box-shadow: 0 0 0 0 rgba(255, 89, 25, 0.5);
}

.btn-outline-custom.disabled,
.btn-outline-custom:disabled {
  color: #FF5919;
  background-color: transparent;
}

.btn-outline-custom:not(:disabled):not(.disabled):active,
.btn-outline-custom:not(:disabled):not(.disabled).active,
.show>.btn-outline-custom.dropdown-toggle {
  color: #FFF;
  background-color: #FF5919;
  border-color: #FF5919;
}

.btn-outline-custom:not(:disabled):not(.disabled):active:focus,
.btn-outline-custom:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-custom.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(255, 89, 25, 0.5);
  box-shadow: 0 0 0 0 rgba(255, 89, 25, 0.5);
}

.position-relative {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 100%;
}

.overlay-text h1 h4 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.add-to-cart-btn {
  font-size: 0.9rem;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.add-to-cart-btn i {
  margin-right: 5px;
}

.back-link {
  color: #FF5919;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.back-link:hover {
  color: #ff5a19a9;
  text-decoration: none;
}

.back-icon {
  font-size: 1.5rem; /* Icono más grande */
  margin-right: 0px; /* Separación del texto */
}

.current-page {
  font-size: 1.2rem; /* Tamaño más grande para el texto de la página actual */
  font-weight: 400; /* Peso regular */
  color: #ff5a19; /* Color gris oscuro */
}

.imagen-logos{
  transition: transform 0.3s;
}
.imagen-logos:hover{
  transform: scale(1.05);
}
.social-icon i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  text-decoration: none;
  font-size: 1.5rem;
  color: #FFF;
  border: solid 1px #fff;
}

.social-icon:hover i {
  color: #bb2036;
  background-color: #FFF;
  transform: scale(1.5);
}

.contact-info {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact-info h4 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-item i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.contact-item p {
  margin: 0;
}

.contact-item a {
  color: #fff;
  text-decoration: none;
}

.contact-item a:hover {
  text-decoration: underline;
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #fd7e14;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

.scroll-to-top-btn:hover {
  background-color: #e06c75;
}

.miniaturas-container {
  max-height: 400px;
  overflow-y: auto;
}

.img-product{
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, border 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-product:hover,
.img-product.active {
  transform: scale(1.05);
  border: 1px solid #960023;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.img-product.active {
  transform: scale(1.05);
  border: 2px solid #960023;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.imagen-grande-container {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 500px;
}

.imagen-grande {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px; /* Ajusta el tamaño de la imagen sobrepuesta */
  height: auto;
  z-index: 10; /* Asegura que la imagen sobrepuesta esté por encima */
}

.btn-arrow-left, .btn-arrow-right {
  position: absolute;
  top: 45%;
  /* transform: translateX(-50%); */
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
}

.btn-arrow-left {
  font-size: 25px;
  left: 10px;
}

.btn-arrow-right {
  font-size: 25px;
  right: 10px;
}

.btn-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

.btn-favoritos, .btn-similares {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: #333;
  cursor: pointer;
  padding: 8px;
}

.btn-favoritos i, .btn-similares i {
  font-size: 1.5rem;
}

.spinner-large {
  width: 5rem;
  height: 5rem;
  border-width: 0.5rem;
}

.cargando-texto {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot-one, .dot-two, .dot-three {
  font-size: 1rem;
  animation: blink 1.5s infinite;
}

.dot-two {
  animation-delay: 0.3s;
}

.dot-three {
  animation-delay: 0.6s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.error-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-texto {
  font-size: 1.5rem;
  font-weight: bold;
}

.text-danger {
  color: #dc3545 !important; /* Color rojo para el icono y texto de error */
}

.text-muted {
  color: #6c757d; /* Color gris para el texto de información */
}

/* Estilos para el offcanvas simulado */
.offcanvas-right {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  background-color: #f8f9fa;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 1050;
}

.offcanvas-right.show {
  right: 0;
}

.offcanvas-header {
  padding: 1rem;
  background-color: #FF5919;
  color: white;
  position: relative;
  z-index: 1;
}

.offcanvas-title{
  color: white;
}

.offcanvas-body {
  padding: 1rem;
  height: calc(100% - 200px);
  overflow-y: auto;
}

.offcanvas-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  gap: 10px;
}

.offcanvas-footer .btn {
  border-radius: 50px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  display: none;
}

.backdrop.show {
  display: block;
}

.producto-container{
  border: 1px solid #FF5919;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(255, 89, 25, 0.5);
}

.imagen-producto{
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn-delete:hover {
  transform: scale(1.1);
}

.btn-delete i {
  margin: 0;
  color: #bb2036;
}

.empty-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  text-align: center;
}

.empty-cart-icon {
  font-size: 100px;
  color: #6c757d;
  margin-bottom: 20px;
}

.toolbar {
  position: fixed;
  left: 0;
  top: 40%;
  transform: translateY(-50%);
  width: 60px;
  background-color: #FF5919;
  padding: 10px 0;
  border-radius: 0 10px 10px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.toolbar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.toolbar-item {
  /* color: #fff; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.toolbar-item i {
  font-size: 2rem; /* Adjust icon size */
  color: #fff;
}

.toolbar-item span {
  margin-top: 5px;
  font-size: 0.8rem;
  color: #fff;
}

.icon-container {
  position: relative; /* For badge positioning */
}

.toolbar-cart {
  position: absolute;
  top: -5px; /* Adjust as needed */
  right: -10px; /* Adjust as needed */
  background-color: #ffc107; /* Badge color */
  color: black; /* Badge text color */
  padding: 3px 6px;
  border-radius: 50%;
  font-size: 0.8rem; /* Adjust font size as needed */
}

.toolbar-item:hover {
  color: #ffc107;
}

/* Responsive adjustments */
@media (max-width: 575px) {
  .toolbar {
    width: 50px;
  }

  .toolbar-item i {
    font-size: 1.5rem;
  }

  .toolbar-item .nombre {
    display: none;
  }
}

@media (min-width: 768px) {
  .toolbar {
    width: 50px;
  }

  .toolbar-item i {
    font-size: 1.5rem;
  }

  .toolbar-item .nombre {
    display: none;
  }
}

@media (min-width: 992px) {
  .toolbar {
    width: 50px;
  }

  .toolbar-item i {
    font-size: 1.5rem;
  }

  .toolbar-item .nombre {
    display: none;
  }
}

.icon-modal {
  /* position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%); */
  background-color: white;
  padding: 0px;

}

.icon-modal i {
  font-size: 50px;
  color: #FF5919;
  margin: 0;
  padding: 0;
}

p {
  margin: 5px 0;
}

.material-card-container {
  position: relative;
  display: inline-block;
}

.material-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  display: inline-block;
  width: auto;
  min-width: 50px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 7px;
  border: 2px solid #0000006e;
}

.material-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.bi-check {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: #28a745;
  border: none;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}

.color-card-container{
  position: relative;
  display: inline-block;
}

.color-card {
  padding: 5px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 5px;
  border: 2px solid #0000006e;
}

.color-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.cantidad-container{
  max-width: 100%;
  border: 2px solid #FF5919;
  border-radius: 50px;
  overflow: hidden;
  margin-left: auto;
}

.btn-cantidad{
  background-color: #FF5919;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  z-index: 1;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn-cantidad:hover{
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.input-cantidad{
  border-left: 0;
  border-right: 0;
  padding: 5px;
  color: #FF5919;
  font-size: 15px;
}

@media (min-width: 450px) {
  .cantidad-container {
    max-width: 50%; /* Ajustable según pantallas más grandes */
  }
}
@media (min-width: 576px) {
  .cantidad-container {
    max-width: 50%; /* Ajustable según pantallas más grandes */
  }
}

@media (min-width: 768px) {
  .cantidad-container {
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .cantidad-container {
    max-width: 45%;
  }
}

@media (min-width: 1200px) {
  .cantidad-container {
    max-width: 40%;
  }
}

.disabled-container {
  opacity: 0.6;
  pointer-events: none;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.attributes-table {
  width: 80%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.attributes-table thead {
  background-color: #3498db;
  color: #ffffff;
}

.attributes-table th, .attributes-table td {
  padding: 10px;
  text-align: left;
}

.attributes-table th {
  font-weight: bold;
}

.attributes-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.attributes-table tbody tr:hover {
  background-color: #d9eaf7;
}

.attributes-table td {
  border-bottom: 1px solid #ddd;
}
