<app-cabeceratitulos [titulo]="'Reportes'" [descripcion]="'Clientes no registrados con solicitudes'" [icono]="'pie-chart'" [opcion]="'reportes'">
</app-cabeceratitulos>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="input-group justify-content-end">
                        <div class="input-group-prepend">
                            <div class="dropdown">
                                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bars"></i> Opciones
                  </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <button class="dropdown-item" (click)="fdatosPDF()"><i class="fa fa-file-pdf-o"></i> Reporte PDF</button>
                                    <button class="dropdown-item" (click)="fdatosXLS()"><i class="fa fa-file-excel-o"></i> Reporte Excel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control mr-2" [(ngModel)]="buscar" placeholder="Cliente a buscar..." (keyup.enter)="fbuscar()" />
                        <span class="input-group-prepend">
                    <button class="btn btn-outline-primary mr-2" (click)="fbuscar()">
                        <i class="fa fa-search"></i> Buscar
                    </button>
                    <button class="btn btn-outline-dark" (click)="limpiar()">
                        <i class="fa fa-list"></i> Limpiar
                    </button>
                </span>
                    </div>
                </div>
                <div class="col-md-6 mt-1" *ngIf="total > cantidad">
                    <ngb-pagination class="d-flex justify-content-end align-items-baseline pagination-rounded" [collectionSize]="total" [(page)]="pagina" [maxSize]="cantidad" [rotate]="false" [ellipses]="false" [boundaryLinks]="true" (pageChange)="mostrarMas($event)" size="sm"></ngb-pagination>
                </div>
            </div>
            <div class="table-responsive" *ngIf="datos?.length > 0">
                <p class="text-right" *ngIf="total == 1">
                    Total: <b>{{ total }} registro</b>
                </p>
                <p class="text-right" *ngIf="total > 1">
                    Total: <b>{{ total }} registros</b>
                </p>
                <!-- Mostrando del registro {{((pagina-1)*10)+1}} al {{((pagina-1)*10)+10}} de un total de {{total}} datos -->
                <table class="table table-sm">
                    <thead>
                        <tr class="table-primary">
                            <th class="text-center">Nro</th>
                            <th class="text-center">Fecha</th>
                            <th class="text-center">Cliente</th>
                            <th class="text-center">Producto</th>
                            <th class="text-center">Empresa</th>
                            <th class="text-center">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let _item of datos; let i = index">
                            <td>{{ i+1 }}</td>
                            <td>{{_item.fecha }}</td>
                            <td>{{_item.idcliente }}</td>
                            <td>{{_item.producto.producto }}</td>
                            <td>{{_item.producto.empresa.empresa }}</td>
                            <td>{{_item.cantidad}}</td>
                        </tr>

                        <tr *ngIf="total > cantidad">
                            <td colspan="5">
                                <ngb-pagination class="d-flex justify-content-center pagination-rounded" [collectionSize]="total" [(page)]="pagina" [maxSize]="cantidad" [rotate]="false" [ellipses]="false" [boundaryLinks]="true" (pageChange)="mostrarMas($event)"></ngb-pagination>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive" *ngIf="total == 0">
                <p class="text-center"><b>Sin productos</b></p>
            </div>
        </div>
    </div>
</div>