<app-cabeceratitulos [titulo]="'Beneficios'" [descripcion]="'Lista de Beneficios'" [icono]="'book'" [opcion]="'beneficios'">
</app-cabeceratitulos>

<div class="row">
  <div class="col-md-12">
    <div class="card"  style="border-radius: 10px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); border: 1px solid #4A5568;">
      <div class="card-header" style="background-color: #4A5568; border-radius: 10px 10px 0 0;">
        <h4 class="text-white">LISTA DE BENEFICIOS</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="input-group justify-content-first">
              <div class="input-group-prepend">
                <button class="btn btn-sm btn-outline-success rounded-pill mr-2" type="button" (click)="fadicionar(am)"><i class="fa fa-plus"></i> Agregar Beneficio</button>
                <div class="dropdown">
                  <button class="btn btn-sm btn-outline-info rounded-pill dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bars"></i> Opciones
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item"><i class="fa fa-file-pdf-o"></i> Reporte PDF</button>
                    <button class="dropdown-item"><i class="fa fa-file-excel-o"></i> Reporte Excel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mt-1">
            <p *ngIf="total == 0">
              Total: <b>{{ total }} registros</b>
            </p>
            <p *ngIf="total == 1">
              Total: <b>{{ total }} registro</b>
            </p>
            <p *ngIf="total > 1">
              Total: <b>{{ total }} registros</b>
            </p>
          </div>
          <div class="col-sm-6">
            <div class="row justify-content-end">
              <div class="col-sm-2 text-md-right text-sm-left mt-1">
                <label for="">Buscar: </label>
              </div>
              <div class="col-sm-10">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-search"></i></span>
                  </div>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="buscar" placeholder="Beneficio a buscar ..." (keyup)="fbuscar()" style="text-transform: uppercase;"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive" *ngIf="beneficios?.length > 0">
          <table class="table table-bordered table-striped table-hover table-sm tabla-beneficio">
            <thead>
              <tr class="table-info">
                <th class="text-center">Nro</th>
                <th class="text-center">Beneficio</th>
                <th class="text-center">Tipo</th>
                <th class="text-center">Municipio</th>
                <th class="text-center" width="300px">Direccion</th>
                <th class="text-center">Fecha Inicio</th>
                <th class="text-center">Fecha Fin</th>
                <th class="text-center">Capacidad</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Operaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let _ben of beneficios; let i = index">
                <td class="text-right align-content-center">{{ i + 1 + ((pagina-1)*10) }}</td>
                <td class=" align-content-center">{{ _ben.beneficio }}</td>
                <td class=" align-content-center">{{ _ben.tipobeneficio.tipobeneficio }}</td>
                <td class=" align-content-center">{{ _ben.municipio.municipio }}</td>
                <td>{{ _ben.direccion }}</td>
                <td class="text-center  align-content-center">{{ _ben.fechainicio | date:'dd/MM/yyyy HH:mm' }}</td>
                <td class="text-center  align-content-center">{{ _ben.fechafin | date:'dd/MM/yyyy HH:mm' }}</td>
                <td class="text-center  align-content-center">{{ _ben.capacidad }}</td>
                <td class="text-center  align-content-center">
                  <span class="puntero badge {{ _ben.estado ? 'badge-success' : 'badge-danger' }}" title="Cambiar estado" >
                    {{ _ben.estado ? 'HABILITADO' : 'INHABILITADO' }}
                  </span>
                </td>
                <td class="text-center  align-content-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" data-boundary="viewport" aria-expanded="false">
                      <i class="bi bi-list"></i>
                    </button>
                    <div class="dropdown-menu">
                      <div class="dropdown-item puntero" (click)="fmodificar(_ben.idbeneficio, am)"><i class="fa fa-edit text-warning"></i> Modificar</div>
                      <div class="dropdown-item puntero" (click)="fparticipantes(_ben.idbeneficio, participantes)"><i class="fa fa-list"></i> Inscripción</div>
                      <div class="dropdown-item puntero" (click)="fver(_ben.idbeneficio, ver)"><i class="fa fa-eye text-info"></i> Ver</div>
                      <div class="dropdown-divider"></div>
                      <div class="dropdown-item puntero"><i class="bi bi-trash text-danger"></i> Eliminar</div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive" *ngIf="total == 0">
          <table class="table table-bordered table-striped table-hover table-sm tabla-beneficio">
            <thead>
              <tr class="table-info">
                <th class="text-center">Nro</th>
                <th class="text-center">Beneficio</th>
                <th class="text-center">Tipo</th>
                <th class="text-center">Municipio</th>
                <th class="text-center">Direccion</th>
                <th class="text-center">Fecha Inicio</th>
                <th class="text-center">Fecha Fin</th>
                <th class="text-center">Capacidad</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Operaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="10" class="text-center">No se encontraron registros.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row mt-2">
          <div class="col-sm-6">
            <p>Mostrando del {{((pagina-1)*10)+1}} al {{((pagina-1)*10)+10}} de {{total}} datos</p>
          </div>
          <div class="col-sm-6">
            <ngb-pagination class="d-flex justify-content-end pagination-rounded" [collectionSize]="total" [(page)]="pagina" [maxSize]="cantidad" [rotate]="false" [ellipses]="false" [boundaryLinks]="true" (pageChange)="mostrarMas($event)"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #cargarimagen>
  <div class="modal-header" style="background-color: #4A5568;">
    <h4 class="modal-title pull-left text-white">{{ estado }}</h4>
  </div>
  <div class="modal-body">
    <div class="dropzone" (click)="archivoInput.click()" (dragover)="farrastrarSobre($event)" (dragleave)="farrastrarFuera($event)" (drop)="fsoltarArchivo($event)">
      <p *ngIf="!archivoSeleccionado">Arrastra tu imagen aquí o haz click para seleccionar</p>

      <div *ngIf="archivoSeleccionado" class="preview-container">
        <img [src]="miniaturaUrl" alt="Vista previa" class="thumbnail" />
        <button type="button" class="btn btn-danger btn-sm" (click)="fremoverArchivo()" title="Cambiar Imagen">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>

      <div class="file-info mt-3" *ngIf="archivoSeleccionado">
        <p><b>Nombre: </b>{{ archivoSeleccionado.name }}</p>
        <p><b>Tamaño: </b>{{ sizeFileFormat }}</p>
      </div>

      <input class="form-control-file" type="file" (change)="fseleccionarArchivo($event)" hidden accept=".png,.jpg,.jpeg" #archivoInput />

    </div>
    <div class="text-center">
      <button type="button" class="btn btn-sm btn-outline-success rounded-pill m-2" (click)="fcargar()" [disabled]="!archivoSeleccionado">
        <i class="fa fa-save"></i> Grabar
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary rounded-pill" (click)="fcancelarImagen()">
        <i class="fa fa-times"></i> Cancelar
      </button>
    </div>
  </div>
</ng-template>

<ng-template #am>
  <div class="modal-header" style="background-color: #4A5568;">
    <h4 class="modal-title pull-left text-white"><i class="fa fa-edit"></i> {{ estado }} Beneficio</h4>
    <button type="button" class="close" aria-label="Close" (click)="fcancelar()">
      <span aria-hidden="true" class="text-white">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <div class="row">
          <div class="col-lg-12 col-sm-6 text-center">
            <h5>Convocatoria</h5>
            <div class="row justify-content-center mb-3 mt-3">
              <div class="beneficio-container" *ngFor="let _conv of convocatoria">
                <img [src]="sanitizarImagen(_conv.data, _conv.mimeType)" width="150px" class="icon-beneficio" />
                <button class="btn btn-info btn-sm btn-beneficio" (click)="fconvocatoria(cargarimagen)" title="Agregar Convocatoria">
                  <i class="bi bi-arrow-clockwise"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-sm-6 text-center">
            <h5>Afiche</h5>
            <div class="row justify-content-center mb-3 mt-3">
              <div class="beneficio-container" *ngFor="let _afiche of afiche">
                <img [src]="sanitizarImagen(_afiche.data, _afiche.mimeType)" width="150px" class="icon-beneficio" />
                <button class="btn btn-info btn-sm btn-beneficio" (click)="fafiche(cargarimagen)" title="Agregar Afiche">
                  <i class="bi bi-arrow-clockwise"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-sm 12">
        <div class="alert alert-info p-1">
          Los campos remarcados con <b class="text-danger">*</b> son necesarios.
        </div>
        <form [formGroup]="formulario" (ngSubmit)="faceptar()">
          <div class="row justify-content-center">
            <div class="col-sm-3 text-sm-right">
              <label for="beneficio"><strong>Beneficio:</strong><span class="text-danger"><b>*</b></span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm" id="beneficio" formControlName="beneficio" [class.is-invalid]="f.beneficio.errors && f.beneficio.touched" (input)="onInput($event, 'beneficio', 'letrasynumerosguion')" autocomplete="no" required/>
              <small *ngIf="f.beneficio.errors&& f.beneficio.touched" class="invalid-feedback">
                <ng-container *ngIf="f.beneficio.errors.required">
                  El dato es obligatorio.
                </ng-container>
                <ng-container *ngIf="f.beneficio.errors.pattern">
                  Solo se permiten letras.
                </ng-container>
                <ng-container *ngIf="f.beneficio.errors.minlength">
                  Debe ser mas de 3 caracteres.
                </ng-container>
                <ng-container *ngIf="f.beneficio.errors.maxlength">
                  No puede exceder los 20 caracteres.
                </ng-container>
              </small>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-3 text-sm-right mt-3">
              <label for="descripcion"><strong>Descripción:</strong></label>
            </div>
            <div class="col-sm-9 mt-3">
              <!-- <input type="text" class="form-control form-control-sm" id="descripcion" formControlName="descripcion" (input)="onInput($event, 'descripcion', 'direccion')" required/> -->
              <textarea class="form-control form-control-sm" id="descripcion" formControlName="descripcion" [maxlength]="255" rows="2"></textarea>
              <small *ngIf="f.descripcion.errors&& f.descripcion.touched" class="invalid-feedback">
                <ng-container *ngIf="f.descripcion.errors.pattern">
                  Caracter inválido.
                </ng-container>
                <ng-container *ngIf="f.descripcion.errors.maxlength">
                  No puede exceder los 255 caracteres.
                </ng-container>
              </small>
              <small *ngIf="!f.descripcion.errors">
                {{ caracteresRestantes }} caracteres restantes.
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 text-sm-right mt-3">
              <label for="idtipobeneficio"><strong>Tipo:</strong><span class="text-danger"><b>*</b></span></label>
            </div>
            <div class="col-sm-9 mt-3">
              <select class="form-control form-control-sm" id="idtipobeneficio" formControlName="idtipobeneficio" [class.is-invalid]="f.idtipobeneficio.errors && f.idtipobeneficio.touched" (change)="onTipoBeneficioChange($event.target.value)">
                <option *ngFor="let _tipo of tiposbeneficios" [value]="_tipo.idtipobeneficio">
                  {{ _tipo.tipobeneficio }}
                </option>
              </select>
              <small *ngIf="f.idtipobeneficio.errors&& f.idtipobeneficio.touched" class="invalid-feedback">
                <ng-container *ngIf="f.idtipobeneficio.errors.required">
                  El dato es obligatorio.
                </ng-container>
              </small>
            </div>

          </div>
          <div class="row justify-content-center">
            <div class="col-sm-3 text-sm-right mt-3">
              <label for="idmunicipio"><strong>Municipio:</strong><span class="text-danger"><b>*</b></span></label>
            </div>
            <div class="col-sm-9 mt-3">
              <select class="form-control form-control-sm" id="idmunicipio" formControlName="idmunicipio" [class.is-invalid]="f.idmunicipio.errors && f.idmunicipio.touched">
                <option *ngFor="let _municipio of municipios" [value]="_municipio.idmunicipio">
                  {{ _municipio.municipio }}
                </option>
              </select>
              <small *ngIf="f.idmunicipio.errors&& f.idmunicipio.touched" class="invalid-feedback">
                <ng-container *ngIf="f.idmunicipio.errors.required">
                  El dato es obligatorio.
                </ng-container>
              </small>
            </div>
            <div class="col-sm-3 text-sm-right mt-3">
              <label for="direccion"><strong>Direccion:</strong><span class="text-danger"><b>*</b></span></label>
            </div>
            <div class="col-sm-9 mt-3">
              <input type="text" class="form-control form-control-sm" id="direccion" formControlName="direccion" [class.is-invalid]="f.direccion.errors && f.direccion.touched" (input)="onInput($event, 'direccion', 'direccion')" autocomplete="no" required/>
              <small *ngIf="f.direccion.errors&& f.direccion.touched" class="invalid-feedback">
                <ng-container *ngIf="f.direccion.errors.required">
                  El dato es obligatorio.
                </ng-container>
                <ng-container *ngIf="f.direccion.errors.pattern">
                  Caracter invalido.
                </ng-container>
                <ng-container *ngIf="f.direccion.errors.minlength">
                  Debe ser mas de 3 caracteres.
                </ng-container>
                <ng-container *ngIf="f.direccion.errors.maxlength">
                  No puede exceder los 255 caracteres.
                </ng-container>
              </small>
            </div>
            <div class="col-sm-3 text-sm-right mt-3">
              <label for="fechainicio"><strong>Inicio:</strong><span class="text-danger"><b>*</b></span></label>
            </div>
            <div class="col-sm-9 mt-3">
              <input type="datetime-local" class="form-control form-control-sm" id="fechainicio" formControlName="fechainicio" [class.is-invalid]="f.fechainicio.errors && f.fechainicio.touched" autocomplete="no" required/>
              <small *ngIf="f.fechainicio.errors&& f.fechainicio.touched" class="invalid-feedback">
                <ng-container *ngIf="f.fechainicio.errors.required">
                  El dato es obligatorio.
                </ng-container>
                <ng-container *ngIf="f.fechainicio.errors.pattern">
                  Solo se permiten letras.
                </ng-container>
                <ng-container *ngIf="f.fechainicio.errors.minlength">
                  Debe ser mas de 3 caracteres.
                </ng-container>
                <ng-container *ngIf="f.fechainicio.errors.maxlength">
                  No puede exceder los 20 caracteres.
                </ng-container>
              </small>
            </div>
            <div class="col-sm-3 text-sm-right mt-3 p-0">
              <label for="fechafin"><strong>Fin:</strong><span class="text-danger"><b>*</b></span></label>
            </div>
            <div class="col-sm-9 mt-3">
              <input type="datetime-local" class="form-control form-control-sm" id="fechafin" formControlName="fechafin" [class.is-invalid]="f.fechafin.errors && f.fechafin.touched" autocomplete="no" required/>
              <small *ngIf="f.fechafin.errors&& f.fechafin.touched" class="invalid-feedback">
                <ng-container *ngIf="f.fechafin.errors.required">
                  El dato es obligatorio.
                </ng-container>
                <ng-container *ngIf="f.fechafin.errors.pattern">
                  Solo se permiten letras.
                </ng-container>
                <ng-container *ngIf="f.fechafin.errors.minlength">
                  Debe ser mas de 3 caracteres.
                </ng-container>
                <ng-container *ngIf="f.fechafin.errors.maxlength">
                  No puede exceder los 20 caracteres.
                </ng-container>
              </small>
            </div>

            <div class="row" *ngIf="mostrarMesas">
              <div class="col-sm-3 text-sm-right mt-3 ">
                <label for="intervalo"><strong>Intervalo:</strong></label>
              </div>
              <div class="col-sm-2 mt-3 ">
                <input type="text" class="form-control form-control-sm" id="intervalo" formControlName="duracion" maxlength="2" (input)="onInput($event, 'duracion', 'numeros')" autocomplete="no" required/>
              </div>
              <div class="col-sm-2 text-sm-right mt-3 ">
                <label for="mesa"><strong>Mesas:</strong></label>
              </div>
              <div class="col-sm-2 mt-3 ">
                <input type="text" class="form-control form-control-sm" id="mesa" formControlName="mesas" maxlength="3" (input)="onInput($event, 'mesas', 'numeros')" autocomplete="no" required/>
              </div>
            </div>


            <div class="col-sm-3 text-sm-right mt-3">
              <label for="idcapacitador"><strong>Capacitador:</strong></label>
            </div>
            <div class="col-sm-9 mt-3">
              <select class="form-control form-control-sm" id="idcapacitador" formControlName="idcapacitador">
                <option *ngFor="let _cap of capacitadores" [value]="_cap.idusuario">
                  {{ _cap.persona?.primerapellido }} {{ _cap.persona?.segundoapellido }} {{ _cap.persona?.primernombre }}
                </option>
              </select>
            </div>
            <div class="col-sm-3 text-sm-right mt-3">
              <label for="capacidad"><strong>Capacidad:</strong><span class="text-danger"><b>*</b></span></label>
            </div>
            <div class="col-sm-9 mt-3">
              <input type="text" class="form-control form-control-sm" id="capacidad" formControlName="capacidad" [maxlength]="4" [class.is-invalid]="f.capacidad.errors && f.capacidad.touched" (input)="onInput($event, 'capacidad', 'numeros')" autocomplete="no" required/>
              <small *ngIf="f.capacidad.errors&& f.capacidad.touched" class="invalid-feedback">
                <ng-container *ngIf="f.capacidad.errors.required">
                  El dato es obligatorio.
                </ng-container>
                <ng-container *ngIf="f.capacidad.errors.pattern">
                  Solo se permiten numeros.
                </ng-container>
                <ng-container *ngIf="f.capacidad.errors.minlength">
                  Debe ser mas de 1 caracteres.
                </ng-container>
                <ng-container *ngIf="f.capacidad.errors.maxlength">
                  No puede exceder los 3 caracteres.
                </ng-container>
              </small>
            </div>
          </div>
          <div *ngIf="formulario.invalid && formulario.touched" class="alert alert-danger mt-2 p-2">
            <small>Por favor, completa todos los campos obligatorios.</small>
          </div>
          <div class="text-right mt-2">
            <button type="submit" class="btn btn-sm btn-outline-success rounded-pill m-2" [disabled]="!formulario.valid">
                <i class="fa fa-save"></i> Guardar
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary rounded-pill" (click)="fcancelar()">
                <i class="fa fa-times"></i> Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #participantes>
  <div class="modal-header" style="background-color: #4A5568;">
    <h4 class="modal-title pull-left text-white"><i class="fa fa-edit"></i> {{ estado }} de Participantes al Beneficio:<br> "{{ beneficio.beneficio }}"</h4>
    <button type="button" class="close" aria-label="Close" (click)="fcancelar()">
      <span aria-hidden="true" class="text-white">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="row justify-content-end">
          <div class="col-sm-2 text-md-right text-sm-left mt-1">
            <label for="">Buscar: </label>
          </div>
          <div class="col-sm-10">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-search"></i></span>
              </div>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="buscarRep" placeholder="Representante a buscar ..." (keyup)="fbuscarRep()" [disabled]="(beneficio.capacidad - cantidadbeneficio) == 0" style="text-transform: uppercase;"/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row mb-2">
          <!-- Columna para Límite -->
          <div class="col-sm-4 text-center">
            <span><strong>Límite:</strong> {{ beneficio.capacidad }}</span>
          </div>
          <div class="col-sm-4 text-center">
            <span><strong>Inscritos:</strong> {{ cantidadbeneficio }}</span>
          </div>
          <!-- Columna para Restante -->
          <div class="col-sm-4 text-center">
            <span><strong>Restante:</strong> {{ beneficio.capacidad - cantidadbeneficio }}</span>
          </div>

        </div>
        <div *ngIf="(beneficio.capacidad - cantidadbeneficio) > 0" class="alert alert-success p-1 text-center">
          <strong>¡Inscripciones Abiertas!</strong> Aún puedes inscribir.
        </div>
        <div *ngIf="(beneficio.capacidad - cantidadbeneficio) == 0" class="alert alert-danger p-1 text-center">
          <strong>¡Inscripción cerrada!</strong> No se permiten más inscripciones.
        </div>
      </div>
    </div>
    <div class="table-responsive " *ngIf="representantes?.length > 0">
      <table class="table table-bordered table-striped table-hover table-sm tabla-beneficio">
        <thead>
          <tr class="table-info">
            <th class="text-center">Nro</th>
            <th class="text-center">Nombre Representante</th>
            <th class="text-center">Carnet</th>
            <th class="text-center">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let _rep of representantes; let i = index">
            <td class="text-right align-content-center">{{ i + 1 + ((paginaRep-1)*10) }}</td>
            <td class=" align-content-center">{{ _rep.persona.primerapellido }} {{ _rep.persona.segundoapellido }} {{ _rep.persona.primernombre }}</td>
            <td class=" align-content-center text-right">{{ _rep.persona.dip }} {{ _rep.persona.complementario ? '-' +_rep.persona.complementario : _rep.persona.complementario }}</td>
            <td class=" align-content-center text-center" >
              <input type="checkbox" [checked]="_rep.enBeneficio" [disabled]="(beneficio.capacidad - cantidadbeneficio) == 0" (change)="festadobeneficio($event, _rep.idrepresentante)" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive" *ngIf="totalRep == 0">
      <table class="table table-bordered table-striped table-hover table-sm tabla-beneficio">
        <thead>
          <tr class="table-info">
            <th class="text-center">Nro</th>
            <th class="text-center">Nombre Representante</th>
            <th class="text-center">Carnet</th>
            <th class="text-center">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="4" class="text-center">No se encontraron registros.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row mt-2">
      <div class="col-sm-6">
        <p>Mostrando del {{((paginaRep-1)*10)+1}} al {{((paginaRep-1)*10)+10}} de {{ totalRep }} datos</p>
      </div>
      <div class="col-sm-6">
        <ngb-pagination class="d-flex justify-content-end pagination-rounded" [collectionSize]="totalRep" [(page)]="paginaRep" [pageSize]="cantidadRep" [maxSize]="cantidadRep" [rotate]="false" [ellipses]="false" [boundaryLinks]="true" (pageChange)="mostrarMasRep($event)"></ngb-pagination>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #ver>
  <div class="modal-header" style="background-color: #4A5568;">
    <h4 class="modal-title pull-left text-white"><i class="fa fa-edit"></i> {{ estado }} lista de Participantes en el Beneficio:<br> "{{ beneficio.beneficio }}"</h4>
    <button type="button" class="close" aria-label="Close" (click)="fcancelar()">
      <span aria-hidden="true" class="text-white">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-5 col-sm-12">
        <div class="row">
          <div class="col-sm-6 text-center">
            <h5>Convocatoria</h5>
            <div class="row justify-content-center mb-3 mt-3">
              <div class="beneficio-container" *ngFor="let _conv of convocatoria">
                <img [src]="sanitizarImagen(_conv.data, _conv.mimeType)" height="150px" class="icon-beneficio" />
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <h5>Afiche</h5>
            <div class="row justify-content-center mb-3 mt-3">
              <div class="beneficio-container" *ngFor="let _afiche of afiche">
                <img [src]="sanitizarImagen(_afiche.data, _afiche.mimeType)" height="150px" class="icon-beneficio" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-sm-12">
        <div class="row">
          <div class="col-sm-3 text-right">
            <small><strong>Beneficio:</strong></small>
          </div>
          <div class="col-sm-8">
            <small>{{ beneficio.beneficio }}</small>
          </div>
          <div class="col-sm-3 text-right">
            <small><strong>Descripción:</strong></small>
          </div>
          <div class="col-sm-8">
            <small>{{ beneficio.descripcion }}</small>
          </div>
          <div class="col-sm-3 text-right">
            <small><strong>Tipo:</strong></small>
          </div>
          <div class="col-sm-8">
            <small>{{ beneficio.tipobeneficio?.tipobeneficio }}</small>
          </div>
          <div class="col-sm-3 text-right">
            <small><strong>Lugar:</strong></small>
          </div>
          <div class="col-sm-8">
            <small>{{ beneficio.direccion }}</small>
          </div>
          <div class="col-sm-3 text-right">
            <small><strong>Fecha:</strong></small>
          </div>
          <div class="col-sm-8">
            <small>{{ beneficio.fechainicio | date:'dd/MM/yyyy HH:mm' }} - {{ beneficio.fechafin | date:'dd/MM/yyyy HH:mm' }}</small>
          </div>
          <div class="col-sm-3 text-right" *ngIf="beneficio.capacitador">
            <small><strong>Capcitador:</strong></small>
          </div>
          <div class="col-sm-8" *ngIf="beneficio.capacitador">
            <small>{{ beneficio.capacitador?.persona?.primerapellido }} {{ beneficio.capacitador?.persona?.segundoapellido }} {{ beneficio.capacitador?.persona?.primernombre }}</small>
          </div>
        </div>
      </div>
    </div><hr>
    <div class="row justify-content-end mr-2">
      <div *ngIf="beneficio.tipobeneficio.tipobeneficio !== 'FERIA' ">
        <button type="button" class="btn btn-sm btn-info mr-2 " *ngIf="asistencia" (click)="fregasistencia(beneficio.idbeneficio, regasistencia)" title="Registrar Asistencia">
          Aistencias <i class="bi bi-filetype-xls"></i>
        </button>
        <button type="button" class="btn btn-sm btn-info mr-2 " *ngIf="!asistencia" (click)="fcrearasistencia(beneficio.idbeneficio, crearAsistencia)" title="Crear Asistencia" >
          Aistencias <i class="bi bi-filetype-xls"></i>
        </button>
      </div>
      <button type="button" class="btn btn-sm btn-secondary mr-2 ">
        Evaluaciones <i class="bi bi-file-earmark-text"></i>
      </button>
      <button type="button" class="btn btn-sm btn-custom mr-2 " *ngIf="beneficio.tipobeneficio.tipobeneficio !== 'FERIA' ">
        Certificados <i class="bi bi-file-earmark-check"></i>
      </button>
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" data-boundary="viewport" aria-expanded="false">
          Planillas EXCEL <i class="bi bi-filetype-xls"></i>
        </button>
        <div class="dropdown-menu">
          <div class="dropdown-item puntero" (click)="fplanillaxls(beneficio.idbeneficio, 'Registro', planilla)">
            <i class="bi bi-book text-primary"></i> Planilla de Registro
          </div>
          <div class="dropdown-item puntero" (click)="fplanilla(beneficio.idbeneficio, 'Asistencia', planilla)">
            <i class="bi bi-people text-success"></i> Planilla de Asistencia
          </div>
          <div class="dropdown-item puntero" (click)="fplanilla(beneficio.idbeneficio, 'Evaluacion', planilla)">
            <i class="bi bi-check-circle text-danger"></i> Planilla de Evaluación
          </div>
        </div>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" data-boundary="viewport" aria-expanded="false">
          Planillas PDF <i class="bi bi-filetype-pdf"></i>
        </button>
        <div class="dropdown-menu">
          <div class="dropdown-item puntero" (click)="fplanilla(beneficio.idbeneficio, 'Inscripcion', planilla)">
            <i class="bi bi-file-earmark-text text-info"></i> Planilla de Inscripción
          </div>
          <div class="dropdown-item puntero" (click)="fplanilla(beneficio.idbeneficio, 'Registro', planilla)">
            <i class="bi bi-book text-primary"></i> Planilla de Registro
          </div>
          <div class="dropdown-item puntero" (click)="fplanilla(beneficio.idbeneficio, 'Asistencia', planilla)">
            <i class="bi bi-people text-success"></i> Planilla de Asistencia
          </div>
          <div class="dropdown-item puntero" (click)="fplanilla(beneficio.idbeneficio, 'Evaluacion', planilla)">
            <i class="bi bi-check-circle text-danger"></i> Planilla de Evaluación
          </div>
        </div>
      </div>
    </div><hr>
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="row justify-content-end">
          <div class="col-sm-2 text-md-right text-sm-left mt-1">
            <label for="">Buscar: </label>
          </div>
          <div class="col-sm-10">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-search"></i></span>
              </div>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="buscarEmp" placeholder="Representante a buscar ..." (keyup)="fbuscarEmp(beneficio.idbeneficio)" style="text-transform: uppercase;"/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 text-md-right text-sm-left">
        <strong>Participantes: {{ cantidadbeneficio }}</strong>
      </div>
    </div>
    <div class="table-responsive mt-2" *ngIf="beneficiosempresas?.length > 0">
      <table class="table table-bordered table-striped table-hover table-sm tabla-beneficio">
        <thead>
          <tr class="table-info">
            <th class="text-center">Nro</th>
            <th class="text-center">Nombre Representante</th>
            <th class="text-center">Carnet</th>
            <th class="text-center">Celular</th>
            <th class="text-center">Municipio</th>
            <th class="text-center">Rubro</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let _rep of beneficiosempresas; let i = index">
            <td class="text-right align-content-center">
              {{ i + 1 + ((paginaEmp-1)*cantidadEmp) }}
            </td>
            <td class=" align-content-center">
              {{ _rep.empresa.representante?.persona?.primerapellido }} {{ _rep.empresa.representante?.persona?.segundoapellido }} {{ _rep.empresa.representante?.persona?.primernombre }}
            </td>
            <td class=" align-content-center text-right">
              {{ _rep.empresa.representante?.persona?.dip }} {{ _rep.empresa.representante?.persona?.complementario ? '-' +_rep.empresa.representante?.persona?.complementario : _rep.empresa.representante?.persona?.complementario }}
            </td>
            <td class=" align-content-center text-right">
              {{ _rep.empresa.representante?.persona?.celular }}
            </td>
            <td class=" align-content-center text-center" >
              {{ _rep.empresa.municipio?.municipio }}
            </td>
            <td class=" align-content-center text-center" >
              {{ _rep.empresa.rubro?.rubro }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive" *ngIf="totalEmp == 0">
      <table class="table table-bordered table-striped table-hover table-sm tabla-beneficio">
        <thead>
          <tr class="table-info">
            <th class="text-center">Nro</th>
            <th class="text-center">Nombre Representante</th>
            <th class="text-center">Carnet</th>
            <th class="text-center">Celular</th>
            <th class="text-center">Municipio</th>
            <th class="text-center">Rubro</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="6" class="text-center">No se encontraron registros.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row mt-2">
      <div class="col-sm-6">
        <p>Mostrando del {{((paginaEmp-1)*cantidadEmp)+1}} al {{((paginaEmp-1)*cantidadEmp)+cantidadEmp}} de {{ totalEmp }} datos</p>
      </div>
      <div class="col-sm-6">
        <ngb-pagination class="d-flex justify-content-end pagination-rounded" [collectionSize]="totalEmp" [(page)]="paginaEmp" [pageSize]="cantidadEmp" [maxSize]="cantidadEmp" [rotate]="false" [ellipses]="false" [boundaryLinks]="true" (pageChange)="mostrarMasEmp($event, beneficio.idbeneficio)"></ngb-pagination>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #planilla>
  <div class="modal-header" style="background-color: #4A5568;">
    <h4 class="modal-title pull-left text-white">Planilla de {{ estadotipo }} del Beneficio</h4>
    <button type="button" class="close" aria-label="Close" (click)="this.modalRefPlanilla.dismiss()">
      <span aria-hidden="true" class="text-white">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="max-height: 80vh; padding: 0;">
    <iframe *ngIf="pdfUrl" [src]="pdfUrl"  style="width: 100%; height: 80vh; border: none; display: block;" frameborder="0"></iframe>
    <p *ngIf="!pdfUrl">Cargando PDF...</p>
  </div>
</ng-template>

<ng-template #crearAsistencia>
  <div class="modal-header" style="background-color: #4A5568;">
    <h4 class="modal-title pull-left text-white">Crear de Asistencia del Beneficio</h4>
    <button type="button" class="close" aria-label="Close" (click)="this.modalRefPlanilla.dismiss(); this.fasistencias(beneficio.idbeneficio);">
      <span aria-hidden="true" class="text-white">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formAsistencia" (ngSubmit)="faceptarAsistencia()">
      <div class="row justify-content-center">
        <div class="col-sm-4 text-right mt-2">
          <label for="beneficio">Beneficio: <span class="text-danger"><b>*</b></span></label>
        </div>
        <div class="col-sm-7 mt-2">
          <label for="">{{ beneficio.beneficio }}</label>
          <input type="text" formControlName="idbeneficio" hidden>
        </div>
        <div class="col-sm-4 text-right mt-2">
          <label for="beneficio">Inicio: <span class="text-danger"><b>*</b></span></label>
        </div>
        <div class="col-sm-7 mt-2">
          <label for="">{{ beneficio.fechainicio | date:'dd/MM/yyyy HH:mm' }}</label>
        </div>
        <div class="col-sm-4 text-right mt-2">
          <label for="beneficio">Fin: <span class="text-danger"><b>*</b></span></label>
        </div>
        <div class="col-sm-7 mt-2">
          <label for="">{{ beneficio.fechafin | date:'dd/MM/yyyy HH:mm' }}</label>
        </div>
        <div class="col-sm-4 text-right mt-3">
          <label for="dias">Dias: <span class="text-danger"><b>*</b></span></label>
        </div>
        <div class="col-sm-5 mt-2">
          <input type="text" class="form-control form-control-sm" id="dias" [maxlength]="3" formControlName="dias" [class.is-invalid]="fA.dias.errors && fA.dias.touched" (input)="onInput($event, 'dias', 'numeros')" autocomplete="no" required/>
        </div>
        <div class="col-sm-2 mt-2">
        </div>
        <div class="col-sm-4 text-right mt-3">
          <label for="duraciondias">Duracion por dia: <span class="text-danger"><b>*</b></span></label>
        </div>
        <div class="col-sm-5 mt-2">
          <input type="text" class="form-control form-control-sm" id="duraciondias" [maxlength]="3" formControlName="duraciondias" [class.is-invalid]="fA.duraciondias.errors && fA.duraciondias.touched" (input)="onInput($event, 'duraciondias', 'numeros')" (input)="calcularDuracionCurso()" autocomplete="no" required/>
        </div>
        <div class="col-sm-2 mt-3">
          <label for="">Hrs.</label>
        </div>
        <div class="col-sm-4 text-right mt-3">
          <label for="duracioncurso">Duracion del curso: <span class="text-danger"><b>*</b></span></label>
        </div>
        <div class="col-sm-5 mt-2">
          <input type="text" class="form-control form-control-sm" id="duracioncurso" maxlength="3" formControlName="duracioncurso" [class.is-invalid]="fA.duracioncurso.errors && fA.duracioncurso.touched" (input)="onInput($event, 'duracioncurso', 'numeros')" autocomplete="no" required/>
        </div>
        <div class="col-sm-2 mt-3">
          <label for="">Hrs.</label>
        </div>
      </div>
      <div class="text-right mt-2">
        <button type="submit" class="btn btn-sm btn-outline-success rounded-pill m-2" [disabled]="!formAsistencia.valid">
            <i class="fa fa-save"></i> Guardar
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary rounded-pill" (click)="this.modalRefPlanilla.dismiss(); this.fasistencias(beneficio.idbeneficio);">
            <i class="fa fa-times"></i> Cancelar
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #regasistencia>
  <div class="modal-header" style="background-color: #4A5568;">
    <h4 class="modal-title pull-left text-white">Registro de Asistencia del Beneficio</h4>
    <button type="button" class="close" aria-label="Close" (click)="this.modalRefPlanilla.dismiss(); this.fasistencias(beneficio.idbeneficio);">
      <span aria-hidden="true" class="text-white">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row bg-secondary text-white align-items-center">
      <div class="col-lg-5 col-sm-12">
        <h4>{{ beneficio.beneficio }}</h4>
      </div>
      <div class="col-lg-7 col-sm-12">
        <div class="row justify-content-between m-2">
          <label for=""><strong>Fecha Inicio:</strong> {{ beneficio.fechainicio | date:'dd/MM/yyyy HH:mm' }}</label>
          <label for=""><strong>Fecha fin</strong>: {{ beneficio.fechafin | date:'dd/MM/yyyy HH:mm' }}</label>
        </div>
        <div class="row justify-content-between m-2">
          <label for=""><strong>Dias:</strong> {{ asistencia.dias }}</label>
          <label for=""><strong>Duracion por Dia:</strong> {{ asistencia.duraciondias }} (Hrs.)</label>
          <label for=""><strong>Duracion Curso:</strong> {{ asistencia.duracioncurso }} (Hrs.)</label>
        </div>
        <div class="row justify-content-end">
          <button class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></button>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="table-responsive" style="overflow-x: auto;">
        <table class="table table-sm table-bordered table-striped table-hover" style="width: auto;">
          <thead>
            <tr>
              <th>Nro</th>
              <th>Nombre Completo</th>
              <th>Carnet</th>
              <!-- <th>Rubro</th> -->
              <th *ngFor="let fechas of fechasasistencia" >{{ fechas.fecha | date:'dd/MM/yyyy' }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let _rep of beneficiosempresaslista; let i = index">
              <td class="text-right align-content-center">
                {{ i + 1 + ((paginaEmp-1)*cantidadEmp) }}
              </td>
              <td class=" align-content-center" style="font-size: 10px;">
                {{ _rep.empresa.representante?.persona?.primerapellido }} {{ _rep.empresa.representante?.persona?.segundoapellido }} {{ _rep.empresa.representante?.persona?.primernombre }}
              </td>
              <td class=" align-content-center text-right" style="font-size: 10px;">
                {{ _rep.empresa.representante?.persona?.dip }} {{ _rep.empresa.representante?.persona?.complementario ? '-' +_rep.empresa.representante?.persona?.complementario : _rep.empresa.representante?.persona?.complementario }}
              </td>
              <!-- <td class=" align-content-center text-center"  style="font-size: 10px;">
                {{ _rep.empresa.rubro?.rubro }}
              </td> -->
              <td *ngFor="let fecha of fechasasistencia; let fechaIndex = index" class="text-center">
                <input
                  type="checkbox"
                  [checked]="asistenciasempresas[i * fechasasistencia.length + fechaIndex]?.asistencia || false"
                  (change)="fasistenciabeneficio(asistenciasempresas[i * fechasasistencia.length + fechaIndex]?.idasistenciaempresa, $event.target.checked)"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>
