.puntero:hover{
  cursor: pointer;
}
.tabla-beneficio{
  box-shadow: 2px 2px 18px 2px #a2a2a2;
}

:host ::ng-deep .pagination-rounded .page-item {
  border-radius: 50px;
}

:host ::ng-deep .pagination-rounded .page-link {
  border-radius: 50px;
  color: #960023;
  background-color: #f8f9fa;
  border: 1px solid #960023;
  padding: 10px 16px; /* Aumentar el tamaño del botón */
  font-size: 1.2rem; /* Aumentar el tamaño del texto */
}

:host ::ng-deep .pagination-rounded .page-link:hover {
  background-color: #a01938;
  color: white;
}

:host ::ng-deep .pagination-rounded .page-item.active .page-link {
  background-color: #960023;
  border-color: #960023;
  color: white;
}

.icon-beneficio{
  border: 1px solid #727479;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.beneficio-container{
  position: relative;
  display: inline-block;
}

.btn-beneficio{
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  padding: 5px 7px;
  width: auto;
  height: auto;
}

.dropzone {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  /* transition: background-color 0.3s; */
}

.dropzone:hover {
  background-color: #f1f1f1;
}

.dropzone.dragover {
  background-color: #f0f8ff;
  border-color: #007bff;
}

.preview-container {
  position: relative;
  display: inline-block;
}

.thumbnail {
  max-width: 100px;
  max-height: 100px;
  margin-top: 10px;
  border-radius: 5px;
}

.preview-container button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #6C757D;
  border: none;
  border-radius: 50%;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.file-info {
  display: flex;
  flex-direction: column;
}

.file-info p {
  margin: 0;
}

.file-info button {
  align-self: flex-end;
}

.btn-outline-custom {
  color: #FF5919;
  border-color: #FF5919;
}

.btn-outline-custom:hover {
  color: #FFF;
  background-color: #FF5919;
  border-color: #FF5919;
}

.btn-outline-custom:focus,
.btn-outline-custom.focus {
  -webkit-box-shadow: 0 0 0 0 rgba(255, 89, 25, 0.5);
  box-shadow: 0 0 0 0 rgba(255, 89, 25, 0.5);
}

.btn-outline-custom.disabled,
.btn-outline-custom:disabled {
  color: #FF5919;
  background-color: transparent;
}

.btn-outline-custom:not(:disabled):not(.disabled):active,
.btn-outline-custom:not(:disabled):not(.disabled).active,
.show>.btn-outline-custom.dropdown-toggle {
  color: #FFF;
  background-color: #FF5919;
  border-color: #FF5919;
}

.btn-outline-custom:not(:disabled):not(.disabled):active:focus,
.btn-outline-custom:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-custom.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(255, 89, 25, 0.5);
  box-shadow: 0 0 0 0 rgba(255, 89, 25, 0.5);
}

.btn-custom {
  color: #FFF; /* Color del texto */
  background-color: #FF5919; /* Color de fondo */
  border-color: #FF5919; /* Color del borde */
}

.btn-custom:hover {
  color: #FFF; /* Color del texto al pasar el mouse */
  background-color: #FF4A12; /* Un tono más oscuro para el hover */
  border-color: #FF4A12; /* Color del borde al pasar el mouse */
}

.btn-custom:focus,
.btn-custom.focus {
  -webkit-box-shadow: 0 0 0 0 rgba(255, 89, 25, 0.5);
  box-shadow: 0 0 0 0 rgba(255, 89, 25, 0.5);
}

.btn-custom.disabled,
.btn-custom:disabled {
  color: #FFF; /* Color del texto en estado deshabilitado */
  background-color: #FF5919; /* Color de fondo en estado deshabilitado */
  opacity: 0.65; /* Cambiar la opacidad en estado deshabilitado */
}

.btn-custom:not(:disabled):not(.disabled):active,
.btn-custom:not(:disabled):not(.disabled).active,
.show>.btn-custom.dropdown-toggle {
  color: #FFF; /* Color del texto al presionar */
  background-color: #FF4A12; /* Color de fondo al presionar */
  border-color: #FF4A12; /* Color del borde al presionar */
}

.btn-custom:not(:disabled):not(.disabled):active:focus,
.btn-custom:not(:disabled):not(.disabled).active:focus,
.show>.btn-custom.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(255, 89, 25, 0.5);
  box-shadow: 0 0 0 0 rgba(255, 89, 25, 0.5);
}
