<app-cabeceratitulos [titulo]="'Escritorio'" [descripcion]="'Pantalla principal'" [icono]="'dashboard'" [opcion]="'escritorio'">
</app-cabeceratitulos>

<div class="row justify-content-center">
    <div class="col-lg-3 col-md-6 col-sm-12 mt-1" *ngIf="esadmin || esreactivatic || essddpi">
        <div class="card card-header-first">
            <div class="card-body">
                <div class="row pb-2">
                    <div class="col-12 text-white align-content-center">
                        <h2 class="card-title">{{ totalusuarios }}</h2>
                        <h5 class="card-subtitle mb-2" *ngIf="totalusuarios == 1">Usuario registrado</h5>
                        <h5 class="card-subtitle mb-2" *ngIf="totalusuarios == 0">Usuarios registrados</h5>
                        <h5 class="card-subtitle mb-2" *ngIf="totalusuarios > 1">Usuarios registrados</h5>
                    </div>
                    <i class="small-box-icon fa fa-user-plus fa-5x"></i>
                </div>
            </div>
            <div class="card-footer m-0 p-1">
                <div class="col-12 text-white text-right align-content-center">
                    <i class="fa fa-arrow-circle-o-right fa-3x boton-info" title="Ver mas" *ngIf="esCargoPasante || esCargoChofer || esCargomonitoreo"></i>
                    <i class="fa fa-arrow-circle-o-right fa-3x boton-info" title="Ver mas" (click)="fusuario()" *ngIf="!esCargoPasante && !esCargoChofer && !esCargomonitoreo"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-1" *ngIf="esadmin || esreactivatic || essddpi">
        <div class="card card-header-second">
            <div class="card-body">
                <div class="row pb-2">
                    <div class="col-12 text-white align-content-center" style="z-index: 1;">
                        <h2 class="card-title">{{ totalempresas }}</h2>
                        <h5 class="card-subtitle mb-2" *ngIf="totalempresas == 1">Unidad Productiva</h5>
                        <h5 class="card-subtitle mb-2" *ngIf="totalempresas == 0">Unidades Productivas</h5>
                        <h5 class="card-subtitle mb-2" *ngIf="totalempresas > 1">Unidades Productivas</h5>
                    </div>
                    <i class="small-box-icon fa fa-list-alt fa-5x"></i>
                </div>
            </div>
            <div class="card-footer m-0 p-1">
                <div class="col-12 text-white text-right align-content-center">
                    <i class="fa fa-arrow-circle-o-right fa-3x boton-info" title="Ver mas" (click)="funidadprod()"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-1" *ngIf="esadmin || esreactivatic || essddpi">
        <div class="card card-header-third">
            <div class="card-body">
                <div class="row pb-2">
                    <div class="col-12 text-white align-content-center">
                        <h2 class="card-title">{{ totalmunicipios }}</h2>
                        <h5 class="card-subtitle mb-2" *ngIf="totalmunicipios == 1">Municipio</h5>
                        <h5 class="card-subtitle mb-2" *ngIf="totalmunicipios == 0">Municipios</h5>
                        <h5 class="card-subtitle mb-2" *ngIf="totalmunicipios > 1">Municipios</h5>
                    </div>
                    <i class="small-box-icon fa fa-map-o fa-5x"></i>
                </div>
            </div>
            <div class="card-footer m-0 p-1">
                <div class="col-12 text-white text-right align-content-center">
                    <i class="fa fa-arrow-circle-o-right fa-3x boton-info" title="Ver mas" (click)="fmunicipio()"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-1" *ngIf="esadmin || esreactivatic || essddpi || esempresa">
        <div class="card card-header-fourth">
            <div class="card-body">
                <div class="row pb-2">
                    <div class="col-12 text-white align-content-center">
                        <h2 class="card-title">{{ totalproductos }}</h2>
                        <h5 class="card-subtitle mb-2" *ngIf="totalproductos == 1">Producto</h5>
                        <h5 class="card-subtitle mb-2" *ngIf="totalproductos > 1 || totalproductos == 0">Productos</h5>
                    </div>
                    <i class="small-box-icon fa fa-shopping-basket fa-5x"></i>
                </div>
            </div>
            <div class="card-footer m-0 p-1">
                <div class="col-12 text-white text-right align-content-center">
                    <i class="fa fa-arrow-circle-o-right fa-3x boton-info" title="Ver mas" (click)="fproductos()"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-1" *ngIf="esempresa">
        <div class="card card-header-fifth">
            <div class="card-body">
                <div class="row pb-2">
                    <div class="col-12 text-white align-content-center">
                        <h2 class="card-title">{{ totalsolicitudesventa }}</h2>
                        <h5 class="card-subtitle mb-2" *ngIf="totalsolicitudesventa == 1">Solicitudes de venta</h5>
                        <h5 class="card-subtitle mb-2" *ngIf="totalsolicitudesventa > 1 || totalsolicitudesventa == 0">Solicitudes de venta</h5>
                    </div>
                    <i class="small-box-icon fa fa-shopping-cart fa-5x"></i>
                </div>
            </div>
            <div class="card-footer m-0 p-1">
                <div class="col-12 text-white text-right align-content-center">
                    <i class="fa fa-arrow-circle-o-right fa-3x boton-info" title="Ver mas" (click)="fmisventas()"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3" *ngIf="esadmin || esreactivatic || essddpi">
    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
        <div class="card card-stadistic">
            <div class="card-header">
                <h3 class="card-title"><i class="fa fa-bar-chart"></i> Unidades Productivas por Gestión</h3>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="card card-calendario">
            <div class="card-header">
                <h3 class="card-title"><i class="fa fa-calendar"></i> Calendario</h3>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>
<div class="row mt-3" *ngIf="esempresa || esadmin || esreactivatic || essddpi">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card card-stadistic">
            <div class="card-header">
                <h3 class="card-title"><i class="fa fa-bar-chart"></i> Productos vendidos</h3>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card card-stadistic">
            <div class="card-header">
                <h3 class="card-title"><i class="fa fa-comment"></i> Comentarios</h3>
            </div>
            <div class="card-body">
                <i class="fa fa-home"></i>
                <i class="fa fa-file"></i>
                <i class="fa fa-wifi"></i>
                <i class="fa fa-bar-chart"></i>
            </div>
        </div>
    </div>
</div>
