<app-cabeceratitulos [titulo]="'Escritorio'" [descripcion]="'Pantalla principal'" [icono]="'dashboard'" [opcion]="'escritorio'">
</app-cabeceratitulos>

<div class="row">
    <div class="col-md-12 justify-content-center">
        <div class="col-md-12">
            <div class="tile">
                <p class="text-center">
                    <img src="assets/imagenes/logo.png" class="img-fluid" />
                </p>
                <p class="text-center">
                    <button class="btn btn-outline-primary" (click)="fmiscompras()" *ngIf="escliente">Mis solicitudes de compra</button>
                    <button class="btn btn-outline-primary" (click)="fmisventas()" *ngIf="esempresa">Mis solicitudes de venta</button>
                </p>
                <p class="text-center">versión 2.0.0 </p>
                <hr>
            </div>
        </div>
        <div class="col-md-12">
            <div class="tile">
                <p>
                    El proyecto <strong>"APOYO A LA COMPETITIVIDAD DE LA MICRO Y PEQUEÑA EMPRESA (REACTIVA TIC) DE LOS MUNICIPIOS PRODUCTORES DEL DEPARTAMENTO DE ORURO"</strong>  
                    es un proyecto de desarrollo para las Unidades Productivas que busca mejorar la capacidad de producción, mediante el fortalecimiento de las 
                    capacidades técnicas de transformación de la materia prima, servicio de asistencia técnica de transformación de la materia prima, servicio 
                    de asistencia técnica a las MiPyMEs y promocionar los productos artesanales a través de organización y participación de ferias locales, 
                    departamentales y nacionales.
                </p>
                <strong>OBJETIVO GENERAL</strong>
                <p> - Fortalecer de manera integral la competitividad de las unidades productivas en el departamento de Oruro, mediante la planificación, capacitación y promoción de las MyPEs.</p>
                <strong>OBJETIVO ESPECIFICO</strong>
                <p>
                    - Formar al personal de unidades productivas, en técnicas de producción, formación social y liderazgo, psicología laboral, educación financiera, formación en normativas impositivas, laborales de comercio y nuevas TIC. <br>
                    - Aplicación de herramientas tecnológicas (CRM, ERP), etc. en gestión de la pro. <br>
                    - Brindar asistencia tecnica en desarrollo de plataformas digitales CRM y ERP en un sistema que permite gestionar clientes mientras que un ERP gestiona procesos informativos, ventas y promoción e-commerce TIC. <br>
                </p>
                <strong>ACTIVIDADES</strong><br>
                <div class="col-md-12 text-center">
                    <img src="assets/imagenes/actividades.png" class="img-fluid" width="auto" />
                </div>
            </div>
        </div>
    </div>
</div>