:host ::ng-deep .ck-editor__editable_inline {
    min-height: 250px;
}

.card-header-first{
    background: linear-gradient(-90deg, #92e2ee, #17a2b8);
    box-shadow: 1px 1px 20px #d2d2d2;
}
.card-header-first:hover{
    box-shadow: 1px 5px 15px #a2a2a2;
}
.card-header-second{
    background: linear-gradient(-90deg, #94e7a7, #28a745);
    box-shadow: 1px 1px 20px #d2d2d2;
}
.card-header-second:hover{
    box-shadow: 1px 5px 15px #a2a2a2;
}
.card-header-third{
    background: linear-gradient(-90deg, #f78d9e, #A81930);
    box-shadow: 1px 1px 20px #d2d2d2;
}
.card-header-third:hover{
    box-shadow: 1px 5px 15px #a2a2a2;
}
.card-header-fourth{
  background: linear-gradient(-90deg, #f8b76d, #FF9234);
    box-shadow: 1px 1px 20px #d2d2d2;
}
.card-header-fourth:hover{
    box-shadow: 1px 5px 15px #a2a2a2;
}
.card-header-fifth{
  background: linear-gradient(-90deg, #f1cf84, #FFC239);
    box-shadow: 1px 1px 20px #d2d2d2;
}
.card-header-fifth:hover{
    box-shadow: 1px 5px 15px #a2a2a2;
}
.card-header-seventh {
  background: linear-gradient(-90deg, #b287f5, #6f42c1); /* tonos púrpura */
  box-shadow: 1px 1px 20px #d2d2d2;
}
.card-header-seventh:hover {
  box-shadow: 1px 5px 15px #a2a2a2;
}
.card-stadistic {
    background: linear-gradient(-90deg, #f5f6f7, #f5f6f7);
    box-shadow: 1px 1px 20px #d2d2d2;
}
.card-stadistic:hover {
    box-shadow: 1px 5px 15px #a2a2a2;
}
.card-calendario {
    color: #fff;
    background: linear-gradient(0deg, #00A951, #37B568);
    box-shadow: 1px 1px 20px #d2d2d2;
}
.card-calendario:hover {
    box-shadow: 1px 5px 15px #a2a2a2;
}

a{
    color: #fff;
}
a:hover{
    color: #A81930;
}

.small-box-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 0;
    height: 70px;
    font-size: 70px;
    color: rgba(0, 0, 0, 0.15);
    transition: transform 0.3s linear;
}

@media (prefers-reduced-motion: reduce) {
    .small-box-icon {
      transition: none;
    }
}
.card-header-first:hover .small-box-icon {
    transform: scale(1.1);
}
.card-header-second:hover .small-box-icon {
    transform: scale(1.1);
}
.card-header-third:hover .small-box-icon {
    transform: scale(1.1);
}
.card-header-fourth:hover .small-box-icon {
    transform: scale(1.1);
}
.card-header-fifth:hover .small-box-icon {
    transform: scale(1.1);
}

.boton-info:hover {
    cursor: pointer;
    transform: scale(1.1);
}
