.puntero:hover{
  cursor: pointer;
}

.reveal {
  opacity: 0; /* ocultar por defecto */
  transform: translateY(20px); /* desplazar hacia abajo */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* transiciones suaves */
}

.reveal.visible {
  opacity: 1; /* hacer visible */
  transform: translateY(0); /* mover a su posición original */
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  color: #45595b;
}

.position-relative {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 100%;
  /* background-color: #fff; */
}

.overlay-text h1 h4 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.btn-outline-custom {
  color: #FF5919;
  border-color: #FF5919;
}

.btn-outline-custom:hover {
  color: #FFF;
  background-color: #FF5919;
  border-color: #FF5919;
}

.btn-outline-custom:focus,
.btn-outline-custom.focus {
  -webkit-box-shadow: 0 0 0 0 rgba(255, 89, 25, 0.5);
  box-shadow: 0 0 0 0 rgba(255, 89, 25, 0.5);
}

.btn-outline-custom.disabled,
.btn-outline-custom:disabled {
  color: #FF5919;
  background-color: transparent;
}

.btn-outline-custom:not(:disabled):not(.disabled):active,
.btn-outline-custom:not(:disabled):not(.disabled).active,
.show>.btn-outline-custom.dropdown-toggle {
  color: #FFF;
  background-color: #FF5919;
  border-color: #FF5919;
}

.btn-outline-custom:not(:disabled):not(.disabled):active:focus,
.btn-outline-custom:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-custom.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(255, 89, 25, 0.5);
  box-shadow: 0 0 0 0 rgba(255, 89, 25, 0.5);
}

.back-link {
  color: #FF5919;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.back-link:hover {
  color: #ff5a19a9;
  text-decoration: none;
}

.back-icon {
  font-size: 1.5rem; /* Icono más grande */
  margin-right: 0px; /* Separación del texto */
}

.current-page {
  font-size: 1.2rem; /* Tamaño más grande para el texto de la página actual */
  font-weight: 400; /* Peso regular */
  color: #ff5a19; /* Color gris oscuro */
}

.imagen-logos{
  transition: transform 0.3s;
}
.imagen-logos:hover{
  transform: scale(1.05);
}

.social-icon i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem; /* Tamaño del icono */
  height: 3rem;
  border-radius: 50%; /* Hace que el fondo sea circular */
  background-color: transparent; /* Fondo transparente por defecto */
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Efecto de transición para hover */
  text-decoration: none;
  font-size: 1.5rem; /* Tamaño del icono */
  color: #FFF;
  border: solid 1px #fff;
}

.social-icon:hover i {
  color: #bb2036; /* Color del icono al pasar el ratón */
  background-color: #FFF;
  transform: scale(1.5); /* Aumenta el tamaño del icono al pasar el ratón */
}

.contact-info {
  padding: 20px;
  background-color: #f8f9fa; /* Fondo gris claro para resaltar el contenido */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra sutil para un efecto de elevación */
}

.contact-info h4 {
  margin-bottom: 20px;
  font-size: 1.5rem; /* Tamaño de fuente del título */
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px; /* Espacio entre cada ítem */
}

.contact-item i {
  font-size: 1.5rem; /* Tamaño del ícono */
  margin-right: 10px; /* Espacio entre el ícono y el texto */
}

.contact-item p {
  margin: 0; /* Elimina el margen por defecto */
}

p {
  margin: 5px 0;
}

.contact-item a {
  color: #fff; /* Color del enlace */
  text-decoration: none; /* Elimina el subrayado del enlace */
}

.contact-item a:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón sobre el enlace */
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #FF5919;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

.scroll-to-top-btn:hover {
  background-color: #ff5a1996;
}

.spinner-large {
  width: 5rem;
  height: 5rem;
  border-width: 0.5rem;
}

.cargando-texto {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot-one, .dot-two, .dot-three {
  font-size: 1rem;
  animation: blink 1.5s infinite;
}

.dot-two {
  animation-delay: 0.3s;
}

.dot-three {
  animation-delay: 0.6s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.error-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-texto {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Estilos para el offcanvas simulado */
.offcanvas-right {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  background-color: #f8f9fa;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 1050;
}

.offcanvas-right.show {
  right: 0;
}

.offcanvas-header {
  padding: 1rem;
  background-color: #FF5919;
  color: white;
  position: relative;
  z-index: 1;
}

.offcanvas-title{
  color: white;
}

.offcanvas-body {
  padding: 1rem;
  height: calc(100% - 200px);
  overflow-y: auto;
}

.offcanvas-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  gap: 10px;
}

.offcanvas-footer .btn {
  border-radius: 50px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  display: none;
}

.backdrop.show {
  display: block;
}

.producto-container{
  border: 1px solid #FF5919;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 89, 25, 0.5);
}

.imagen-producto{
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn-delete:hover {
  transform: scale(1.1);
}

.btn-delete i {
  margin: 0;
  color: #bb2036;
}

.empty-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  text-align: center;
}

.empty-cart-icon {
  font-size: 100px;
  color: #6c757d;
  margin-bottom: 20px;
}

.toolbar {
  position: fixed;
  left: 0;
  top: 30%;
  transform: translateY(-50%);
  width: 60px;
  background-color: #FF5919;
  padding: 10px 0;
  border-radius: 0 10px 10px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.toolbar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.toolbar-item {
  /* color: #fff; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.toolbar-item i {
  font-size: 2rem; /* Adjust icon size */
  color: #fff;
}

.toolbar-item span {
  margin-top: 5px;
  font-size: 0.8rem;
  color: #fff;
}

.icon-container {
  position: relative; /* For badge positioning */
}

.toolbar-cart {
  position: absolute;
  top: -5px; /* Adjust as needed */
  right: -10px; /* Adjust as needed */
  background-color: #ffc107; /* Badge color */
  color: black; /* Badge text color */
  padding: 3px 6px;
  border-radius: 50%;
  font-size: 0.8rem; /* Adjust font size as needed */
}

.toolbar-item:hover {
  color: #ffc107;
}

/* Responsive adjustments */
@media (max-width: 575px) {
  .toolbar {
    width: 50px;
  }

  .toolbar-item i {
    font-size: 1.5rem;
  }

  .toolbar-item .nombre {
    display: none;
  }
}

@media (min-width: 768px) {
  .toolbar {
    width: 50px;
  }

  .toolbar-item i {
    font-size: 1.5rem;
  }

  .toolbar-item .nombre {
    display: none;
  }
}

@media (min-width: 992px) {
  .toolbar {
    width: 50px;
  }

  .toolbar-item i {
    font-size: 1.5rem;
  }

  .toolbar-item .nombre {
    display: none;
  }
}

.icon-modal {
  /* position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%); */
  background-color: white;
  padding: 0px;

}

.icon-modal i {
  font-size: 50px;
  color: #FF5919;
  margin: 0;
  padding: 0;
}

:host ::ng-deep .pagination-rounded .page-item {
  border-radius: 50px;
}

:host ::ng-deep .pagination-rounded .page-link {
  border-radius: 50px;
  color: #FF5919;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 10px 16px; /* Aumentar el tamaño del botón */
  font-size: 1.2rem; /* Aumentar el tamaño del texto */
}

:host ::ng-deep .pagination-rounded .page-link:hover {
  background-color: #fc895b;
  color: white;
}

:host ::ng-deep .pagination-rounded .page-item.active .page-link {
  background-color: #FF5919;
  border-color: #FF5919;
  color: white;
}

.product-card {
  width: 100%;
  max-width: 300px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.6s ease, box-shadow 0.3s, border 0.6s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product-card:hover{
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  border: 1px solid #FF5919;
}

.card-header {
  position: relative;
  overflow: hidden;
  height: 200px;
}

.product-image {
  height: auto;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.product-image:hover {
  transform: scale(1.2);
}

.overlay-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px; /* Ajusta el tamaño de la imagen sobrepuesta */
  height: auto;
  z-index: 10; /* Asegura que la imagen sobrepuesta esté por encima */
}

.product-name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-description {

  color: #555;

  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;

  font-size: 0.9rem;
  line-height: 1.5;
  max-height: calc(1.5em * 3);
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: calc(1.5em * 3);
}

.product-price {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.icon-empresa{
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: solid 2px #0000004f;
}

.empresa-nombre {
  font-family: 'Georgia', serif; /* Cambia 'Arial' por la fuente que prefieras */
  font-size: 2.5rem; /* Ajusta el tamaño según tus necesidades */
  font-weight: bold; /* Si quieres un peso de fuente más grueso */
  color: #333; /* Cambia el color si es necesario */
}

.empresa-servicio {
  font-family: 'Arial', sans-serif; /* Cambia 'Georgia' por la fuente que prefieras */
  font-size: 1.5rem; /* Ajusta el tamaño según tus necesidades */
  font-style: italic; /* Aplica cursiva si lo prefieres */
  color: #777; /* Un color más suave para el servicio */
}

.contacto-info {
  background-color: #f4f6f9; /* Fondo suave y agradable */
  border-radius: 8px; /* Bordes redondeados */
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.contacto-texto {
  font-family: 'Roboto', sans-serif; /* Fuente para el texto de contacto */
  font-size: 1.25rem; /* Tamaño del texto */
  color: #fff; /* Color del texto */
}

.contacto-icono {
  font-size: 1.5rem; /* Tamaño del ícono */
  color: #fff; /* Color del ícono */
  margin-right: 10px;
}

.contacto-info a {
  color: #fff;
  text-decoration: none;
}

.contacto-info a:hover {
  text-decoration: underline;
}

.carousel-item img {
  height: 500px; /* Ajusta la altura según tu diseño */
  object-fit: cover; /* Mantiene la relación de aspecto de la imagen */
}

.descripcion-texto {
  font-size: 1.5rem; /* Tamaño de fuente más grande */
  font-weight: bold; /* Negrita */
  color: #706d6b; /* Color de texto llamativo */
  background-color: #F0F0F0; /* Fondo claro */
  padding: 15px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.benefits-section {
  background-color: #f9f9f9;
  padding: 10px 0;
}

.benefit-item {
  margin-bottom: 30px;
}

.icon-circle {
  display: inline-block;
  width: 80px; /* Aumenta el tamaño del círculo */
  height: 80px; /* Aumenta el tamaño del círculo */
  border-radius: 50%; /* Hace el fondo circular */
  background-color: #EEEBEE; /* Color de fondo del círculo */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px; /* Centra el círculo y espacio entre el ícono y el título */
}

.benefit-icon {
  font-size: 40px; /* Aumenta el tamaño del ícono */
  color: #FF5919; /* Color principal para los íconos */
}

.benefit-title {
  font-size: 20px; /* Aumenta el tamaño del título */
  font-weight: bold;
  color: #FF5919;
  margin-bottom: 5px; /* Espacio ajustado */
}

.benefit-desc {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.productos-empresa {
  border: 2px solid #ddd; /* Borde gris claro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 15px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  background-color: #fff; /* Fondo blanco */
  margin-bottom: 20px; /* Margen inferior para separar de otros elementos */
}

.product-title {
  background-color: #4CAF50; /* Verde similar al estilo de la imagen */
  color: white; /* Texto en blanco */
  font-weight: bold; /* Negrita */
  padding: 15px 30px; /* Espaciado interno */
  text-align: center; /* Centrando el texto */
  border-radius: 15px; /* Bordes redondeados */
  font-size: 2rem; /* Tamaño de fuente */
  margin: 10px auto; /* Margen superior e inferior centrado */
  text-transform: uppercase; /* Texto en mayúsculas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar relieve */
  width: fit-content; /* Ajusta el ancho según el contenido */
}

.product-card-title {
  background-color: #4CAF50; /* Verde similar */
  color: white; /* Texto en blanco */
  font-weight: bold; /* Negrita */
  padding: 8px 15px; /* Espaciado interno más pequeño */
  text-align: center; /* Centrado */
  border-radius: 10px; /* Bordes redondeados */
  font-size: 1rem; /* Tamaño de fuente más pequeño */
  margin-top: 10px; /* Margen superior */
  margin-bottom: 10px; /* Margen inferior */
  text-transform: uppercase; /* Texto en mayúsculas */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); /* Sombra */
  width: 100%; /* Ajusta al ancho del contenedor */
}
