.usuario-img {
    border-radius: 50%;
    max-width: 110px;
    margin-bottom: 20px;
    margin-top: 10px;
  }


  .puntero{
    cursor: pointer;
  }

  .wizard-tabs-container{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .wizard-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 80%;
  }

  .wizard-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .wizard-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6c757d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .wizard-label {
    margin-top: 10px;
    font-weight: bold;
    color: #6c757d;
  }

  .wizard-line {
    width: 100px;
    height: 4px;
    background-color: #6c757d;
    position: relative;
    top: -25px;
  }

  .active-step .wizard-circle {
    background-color: #db4158;
  }

  .active-step .wizard-label {
    color: #db4158;
  }

  .completed-step .wizard-circle {
    background-color: #28a745;
  }

  .completed-step .wizard-label {
    color: #28a745;
  }

  .wizard-step:hover .wizard-circle {
    background-color: #db4158;
    cursor: pointer;
  }

  .wizard-step:hover .wizard-label {
    color: #db4158;
    cursor: pointer;
  }

  #listRep {
    max-height: 200px; /* Limita la altura de la lista desplegable */
    overflow-y: auto;  /* Agrega un scroll si hay demasiados elementos */
  }


  .dropzone {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    /* transition: background-color 0.3s; */
  }

  .dropzone:hover {
    background-color: #f1f1f1;
  }

  .dropzone.dragover {
    background-color: #f0f8ff;
    border-color: #007bff;
  }

  .preview-container {
    position: relative;
    display: inline-block;
  }

  .thumbnail {
    max-width: 100px;
    max-height: 100px;
    margin-top: 10px;
    border-radius: 5px;
  }

  .preview-container button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #6C757D;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 5px;
    cursor: pointer;
  }

  .file-info {
    display: flex;
    flex-direction: column;
  }

  .file-info p {
    margin: 0;
  }

  .file-info button {
    align-self: flex-end;
  }

  .icon-carnet{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: solid 1px #00000054;
  }
  .icon-usuario{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border: solid 2px #0000008f;
    border: 10px;
  }
  .icon-empresa{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: solid 2px #0000004f;
  }
