<app-cabeceratitulos [titulo]="'Rueda de Negocios > Lobby'" [descripcion]="'Lista de Categorías'" [icono]="'shopping-bag'" [opcion]="'Negocios / Networking'">
</app-cabeceratitulos>

<div class="row">
  <div class="col-md-12">
    <div class="card" style="border-radius: 10px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); border: 1px solid #4A5568;">
      <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #4A5568; border-radius: 10px 10px 0 0;">
        <ng-container *ngIf="beneficio; else sinBeneficio">
          <div class="row text-white align-items-center justify-content-center">
            <div class="col-12 col-lg-12 text-center text-lg-start mb-2 mb-lg-0">
              <h3>{{ beneficio?.beneficio }}</h3>
            </div>
            <div class="col-6 col-md-auto text-center text-lg-end mb-2 mb-lg-0">
              <h5>
                <strong><i class="bi bi-calendar-check"></i></strong>
                <!-- Compara solo las fechas, sin la parte de la hora -->
                <ng-container *ngIf="isSameDate">
                  <!-- Si las fechas son iguales -->
                  {{ beneficio?.fechainicio | date:'EEEE, d \'de\' MMMM \'de\' y' }}
                </ng-container>
                <ng-container *ngIf="!isSameDate">
                  <!-- Si las fechas son diferentes -->
                  {{ beneficio?.fechainicio | date:'EEEE, d \'de\' MMMM \'de\' y' }} -
                  {{ beneficio?.fechafin | date:'EEEE, d \'de\' MMMM \'de\' y' }}
                </ng-container>
              </h5>
              <h5>
                <strong><i class="bi bi-clock"></i></strong>
                {{ beneficio?.fechainicio | date:'HH:mm' }} - {{ beneficio?.fechafin | date:'HH:mm' }}
              </h5>
            </div>
          </div>
        </ng-container>
        <ng-template #sinBeneficio>
          <div class="text-center w-100 text-white">
            <h3>Sin rueda de negocios</h3>
          </div>
        </ng-template>
      </div>
      <div class="card-body">
        <ng-container *ngIf="beneficio; else mensajeSinEvento">
          <div class="row justify-content-center">
            <div class="col-xl-10 col-sm-12">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-home-tab" data-toggle="pill" data-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true" (click)="fdatos()">En Curso . . . </button>
                </li>
              </ul>
              <div class="tab-content p-2 " id="pills-tabContent" style="border: 1px solid #4A5568; border-radius: 10px;">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                  <div class="row">
                    <div class="col-sm-3 mt-1">
                      <p *ngIf="totalcitas == 0">
                        Total: <b>{{ totalcitas }} registros</b>
                      </p>
                      <p *ngIf="totalcitas == 1">
                        Total: <b>{{ totalcitas }} registro</b>
                      </p>
                      <p *ngIf="totalcitas > 1">
                        Total: <b>{{ totalcitas }} registros</b>
                      </p>
                    </div>
                    <div class="col-sm-4 mt-1 text-center">
                      <p><b>Hora actual:</b> {{ horaActual }}</p>
                    </div>
                    <div class="col-sm-5 mt-1">
                      <div class="row justify-content-end">
                        <div class="col-sm-2 text-md-right text-sm-left mt-1">
                          <label for="">Buscar: </label>
                        </div>
                        <div class="col-sm-8">
                          <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-search"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm buscar_lobby" [(ngModel)]="buscarnegocios" placeholder="Buscar..." (keyup)="fbuscarnegocios()" style="border: 2px solid #4A5568; border-radius: 5px;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive mt-2" *ngIf="negocios?.length > 0">
                    <table class="table table-bordered table-striped">
                      <thead style="background-color: #4A5568; color: #fff;">
                        <tr>
                          <th>Unidad Productiva</th>
                          <th>Cliente</th>
                          <th class="text-center">Cita del Evento</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let _dato of negocios; let i = index">
                          <td>
                            <div class="d-flex align-items-center">
                              <img [src]="ruta+_dato.beneficioempresa?.empresa?.idempresa" width="80px" (error)="$event.target.src='assets/imagenes/images/default/404.png'" alt="Logo UP" style="width: 80px; height: 80px; border-radius: 5px; object-fit: cover;"/>
                              <div class="ms-3 ml-2">
                                <strong>{{ _dato.beneficioempresa.empresa.empresa }}</strong><br>
                                <span>{{ _dato.beneficioempresa.empresa.correo }}</span><br>
                                <span>+591 {{ _dato.beneficioempresa.empresa.celular }}</span><br>
                                <span [ngClass]="getBadgeClass(_dato.estadoempresa)" class="badge">
                                  {{ getBadgeText(_dato.estadoempresa) }}
                                </span>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="d-flex align-items-center">
                              <img src="assets/imagenes/images/default/404.png" alt="Logo Cliente" style="width: 80px; height: 80px; border-radius: 5px; object-fit: cover;">
                              <div class="ms-3 ml-2">
                                <strong>{{ _dato.persona.primerapellido }} {{ _dato.persona.segundoapellido }} {{ _dato.persona.primernombre }}</strong><br>
                                <span>{{ _dato.persona.correo }}</span><br>
                                <span>+591 {{ _dato.persona.celular }}</span><br>
                                <span [ngClass]="getBadgeClass(_dato.estadopersona)" class="badge">
                                  {{ getBadgeText(_dato.estadopersona) }}
                                </span>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div>
                              <strong>Hora Inicio:</strong> {{ _dato.horainicio | slice:0:5 }}<br>
                              <strong>Hora Fin:</strong> {{ _dato.horafin | slice:0:5 }}<br>
                              <strong>Mesa:</strong> {{ _dato.mesa }}<br>
                              <button class="btn btn-sm btn-info mt-2" style="background-color: #4A5568; border-color: #4A5568; color: #fff;" [disabled]="_dato.estadoempresa !== 5 || _dato.estadopersona !== 5">
                                Resultados
                              </button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="table-responsive mt-2" *ngIf="negocios?.length == 0">
                    <table class="table table-bordered table-striped">
                      <thead style="background-color: #4A5568; color: #fff;">
                        <tr>
                          <th>Unidad Productiva</th>
                          <th>Cliente</th>
                          <th class="text-center">Cita del Evento</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td colspan="3" class="text-center">
                            No hay citas en curso en el evento.
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #mensajeSinEvento>
          <div class="text-center w-100">
            <i class="fa fa-exclamation-triangle fa-5x text-warning mb-4"></i>
            <h1>El evento no está disponible en estos momentos.</h1><br>
            <h1> Gracias por su comprensión.</h1>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
